      <footer id = "footer-voilet-big" class = "footer-section section footer-voilet-big text-center">
         <div class = "footer-subscribe">
            <div class = "container">
               <div class = "row">
                     <div class = "block-content footer-signup-content">
                        <form id="mainchimp-subscribe" role="form" name="contactform1" class="flat-form form-inline mainchimp-subscribe form-horizontal" method="post" post-url="https://quardz.us2.list-manage.com/subscribe/post?u=9eba3d1fdf97776e30906f405&amp;id=8f8fe8e466">
                           <div class="subscribe-form-input">
                              <input id="contact_email" class="subscribe-form-email form-control input-lg  col-sm-8" type="email" autocomplete="off" placeholder="Enter your e-mail" name="EMAIL" />
                              <div style="position: absolute; left: -5000px;"><input type="text" name="b_9eba3d1fdf97776e30906f405_8f8fe8e466" tabindex="-1" value="" /></div>
                              <button class="subscribe-form-submit btn btn-black btn-lg  col-sm-4" data-loading-text="Loading..." name="subscribe">Subscribe now</button>
                           </div>
                        </form>
                        <!-- Form Ends -->
                     </div>
               </div>
            </div>
         </div>
         <div class = "footer-copyright-social">
            <div class = "container">
               <div class = "row">
                  <div class = "col-sm-8 footer-copyright text-left">
                        <div class = "block-content footer-copyright-content">
                           <a href="#">Terms and Conditions</a> <a href="#">Privacy Policy</a> &#169; Copyright 2015  CMS Bots
                        </div>
                  </div>
                  <div class = "footer-social col-sm-4 text-right">
                        <div class = "footer-follow-wrap">
                           <div class = "block-content">
                              <div class='follow-links clearfix site'>
                                 <span class="follow-link-wrapper follow-link-wrapper-linkedin"><a href="https://www.linkedin.com/company/cmsbots-com" class="follow-link follow-link-linkedin follow-link-site" title="Follow us on  "><i class="fa fa-linkedin"></i></a></span>
								 <span class="follow-link-wrapper follow-link-wrapper-twitter"><a href="https://twitter.com/cmsbots" class="follow-link follow-link-twitter follow-link-site" title="Follow us on  "><i class="fa fa-twitter"></i></a></span>
							     <span class="follow-link-wrapper follow-link-wrapper-facebook"><a href="https://www.facebook.com/CMSbots" class="follow-link follow-link-facebook follow-link-site" title="Follow us on  "><i class="fa fa-facebook"></i></a></span>
								 <span class="follow-link-wrapper follow-link-wrapper-googleplus"><a href="https://plus.google.com/+Cmsbots/posts" class="follow-link follow-link-googleplus follow-link-site" title="Follow us on  "><i class="fa fa-google-plus"></i></a></span>
                              </div>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>