      <footer id = "footer-dark-blue" class = "footer-section section footer-dark-blue">
         <div class = "footer-subscribe">
            <div class = "container">
               <div class = "row">
                     <div class = "block-content footer-signup-content">
                        <form id="mainchimp-subscribe" role="form" name="contactform1" class="flat-form form-inline mainchimp-subscribe form-horizontal" method="post" post-url="https://quardz.us2.list-manage.com/subscribe/post?u=9eba3d1fdf97776e30906f405&amp;id=8f8fe8e466">
                           <div class="subscribe-form-input">
                              <input id="contact_email" class="subscribe-form-email form-control input-lg  col-sm-8" type="email" autocomplete="off" placeholder="Enter your email" name="EMAIL" />
                              <div style="position: absolute; left: -5000px;"><input type="text" name="b_9eba3d1fdf97776e30906f405_8f8fe8e466" tabindex="-1" value="" /></div>
                              <button class="subscribe-form-submit btn btn-black btn-lg  col-sm-4" data-loading-text="Loading..." name="subscribe">Subscribe now</button>
                           </div>
                        </form>
                        <!-- Form Ends -->
                     </div>
               </div>
            </div>
         </div>
         <div class = "footer-message-menus-copyright-social">
            <div class = "container footer-blocks">
               <div class = "row">
                  <div class = "col-md-4 footer-message">
                        <div class = "block-title footer-message-title row">
                           <h2 class = "title">CMS Bots</h2>
                        </div>
                        <div class = "block-content footer-message-content row">
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum.
                        </div>
                  </div>
                  <div class = "col-md-8  footer-menus">
                     <div class = "row">
                        <div class = "col-sm-4 footer-menu footer-menu-1">
                              <aside id="block-menu-menu1" class="block-menu-menu1 block block-menu footer_block1">
                                 <div class = "title">
                                    <h2>Company</h2>
                                 </div>
                                 <ul class="nav sidebar-menu">
                                    <li class="first leaf"><a href="#" title="About us">About us</a></li>
									<li class="leaf"><a href="#" title="Investments">Investments</a></li>
									<li class="leaf"><a href="#" title="How it works">How it works</a></li>
                                    <li class="last leaf"><a href="#" title="Blog">Blog</a></li>
                                 </ul>
                              </aside>
                        </div>
                        <div class = "col-sm-4 footer-menu footer-menu-2">
                              <aside id="block-menu-menu2" class="block-menu-menu2 block block-menu footer_block2">
                                 <div class = "title">
                                    <h2>Services</h2>
                                 </div>
                                 <ul class="nav sidebar-menu">
                                    <li class="first leaf"><a href="#" title="Designs">Designs</a></li>
									<li class="leaf"><a href="#" title="Development">Development</a></li>
                                    <li class="last leaf"><a href="#" title="Multimedia">Multimedia</a></li>
                                 </ul>
                              </aside>
                        </div>
                        <div class = "col-sm-4 footer-menu footer-menu-3">
                              <aside id="block-menu-menu3" class="block-menu-menu3 block block-menu footer_block3">
                                 <div class = "title">
                                    <h2>Links</h2>
                                 </div>
                                 <ul class="nav sidebar-menu">
                                    <li class="first leaf"><a href="#" title="FAQ">FAQ</a></li>
									<li class="leaf"><a href="#" title="Site map">Site map</a></li>
									<li class="leaf"><a href="#" title="Terms and Conditions">Terms and Conditions</a></li>
									<li class="last leaf"><a href="#" title="Privacy policy">Privacy policy</a></li>
                                 </ul>
                              </aside>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class = "footer-copyright-menu-social container">
               <div class = "row">
                  <div class = "col-sm-4 footer-menu text-left">
                     <ul id="secondary-menu" class="links nav navbar-nav">
                        <li class="first leaf"><a href="#" title="Terms & Conditions">Terms & Conditions</a></li>
						<li class="last leaf"><a href="#" title="Privacy Policy">Privacy Policy</a></li>
                     </ul>
                  </div>
                  <div class = "col-sm-4 footer-copyright text-center">
                        <div class = "block-content footer-copyright-content">
                           &#169; Copyright 2015  CMS Bots
                        </div>
                  </div>
                  <div class = "col-sm-4 footer-social text-right">
                        <div class = "footer-follow-wrap">
                           <div class = "block-content">
                              <div class="follow-links clearfix site">
							     <span class="follow-link-wrapper follow-link-wrapper-linkedin"><a href="https://www.linkedin.com/company/cmsbots-com" class="follow-link follow-link-linkedin follow-link-site" title="Follow us on  "><i class="fa fa-linkedin"></i></a></span>
								 <span class="follow-link-wrapper follow-link-wrapper-twitter"><a href="https://twitter.com/cmsbots" class="follow-link follow-link-twitter follow-link-site" title="Follow us on  "><i class="fa fa-twitter"></i></a></span>
							     <span class="follow-link-wrapper follow-link-wrapper-facebook"><a href="https://www.facebook.com/CMSbots" class="follow-link follow-link-facebook follow-link-site" title="Follow us on  "><i class="fa fa-facebook"></i></a></span>
								 <span class="follow-link-wrapper follow-link-wrapper-googleplus"><a href="https://plus.google.com/+Cmsbots/posts" class="follow-link follow-link-googleplus follow-link-site" title="Follow us on  "><i class="fa fa-google-plus"></i></a></span>
                              </div>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>