@media (min-width: 768px) and (max-width: 1169px) {
  header#navbar .navbar-nav>li>a {
    text-transform: none;
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
  }
  header#navbar .navbar-nav>li>a:focus, 
  header#navbar .navbar-nav>li:hover>a, 
  header#navbar .navbar-nav>li>a.active {
    border-bottom: 0px solid;
    border-bottom: none;
  }
  header#navbar .navbar-nav > li > a:focus, 
  header#navbar .navbar-nav > li > a:hover, 
  header#navbar .navbar-nav > li > a.active, 
  header#navbar .navbar-nav li a:focus, 
  header#navbar .navbar-nav li a:hover, 
  header#navbar .navbar-nav li a.active, 
  header#navbar .dropdown-menu>li>a:focus, 
  header#navbar .dropdown-menu>li>a:hover, 
  header#navbar .dropdown-menu>li>a.active {
    border-left: none;
  }
}

@media (max-width: 767px) {
  header#navbar .navbar-collapse {
    margin: 0px;
  }  
  header#navbar .search-form,
  header#navbar .search-form input,
  header#navbar .search-form .input-group  {
    width: 100%;
  }
  header#navbar .navbar-nav > li.expanded.menu-depth-1 > a > span.caret {
    margin-top: 5px;
  }
}

