<footer id = "footer-orange-small" class = "footer-section section footer-orange-small text-center">
  <div class = "footer-subscribe">
    <div class = "container">
      <div class = "block-content footer-signup-content">
        <form id="mainchimp-subscribe" role="form" name="contactform1" class="flat-form form-inline mainchimp-subscribe form-horizontal" method="post" data-post-url="https://quardz.us2.list-manage.com/subscribe/post?u=9eba3d1fdf97776e30906f405&amp;id=8f8fe8e466">
          <div class="title-wrap">
            <div class="form-group">
              <p class="form-control-static">Interested ? Signup now!</p>
            </div>
          </div>
          <div class="subscribe-form-input">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
              <input id="contact_email" class="subscribe-form-email form-control input-lg" type="email" autocomplete="off" placeholder="Your e-mail address" name="EMAIL" />
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_9eba3d1fdf97776e30906f405_8f8fe8e466" tabindex="-1" value="" /></div>
              <button class="subscribe-form-submit btn btn-black btn-lg" data-loading-text="Loading..." name="subscribe">SUBSCRIBE</button>
            </div>
          </div>
        </form>
        <!-- Form Ends -->
      </div>
    </div>
  </div>
  <div class = "footer-copyright-menu">
    <div class = "container">
      <div class = "col-sm-6 footer-copyright text-left">
        <div class = "block-content footer-copyright-content">
          CMS BOTS <span> &#169; Copyright 2015 </span>
        </div>
      </div>
      <div class = "footer-menu col-sm-6 text-right">
        <ul id="secondary-menu" class="links nav navbar-nav">
          <li class="first leaf"><a href="#" title="ABOUT US">ABOUT US</a></li>
          <li class="leaf"><a href="#" title="BLOG">BLOG</a></li>
          <li class="leaf"><a href="#" title="CONTACT ">CONTACT </a></li>
          <li class="last leaf"><a href="#" title="SITEMAP">SITEMAP</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>