      <section id="price-pricetable-navy-blue" class = "price-pricetable-navy-blue price-pricetable">
         <div class = "container">
            <div class="row text-center">
               <h2 class="title col-xs-12 ">Pricing</h2>
               <div class="col-xs-12 desc price-desc">
                  <p> Proin vulputate velit eu mollis pulvinar. Nullam id leo vel est gravida iaculis. </p>
               </div>
            </div>
            <div class="row price-table text-left">
               <div class="col-sm-4 col-xs-12 price-box">
                  <div class = "price-content">
                     <div class = "price-header">
                        <h3 class = "title">Basic</h3>
                        <span class = "price-about">
                        Lorem ipsum dolor sit amet, coni sectetur adipiscing elit.
                        </span>
                     </div>
                     <div class = "price-price"> 
                        <span><span>$</span>10</span>
                     </div>
                  </div>
                  <div class = "price-buy">
                     <button class = "btn btn-default" type="button">Buy Now</button>
                  </div>
               </div>
               <div class="col-sm-4 col-xs-12 price-box">
                  <div class = "price-content">
                     <div class = "price-header">
                        <h3 class = "title">Standard</h3>
                        <span class = "price-about">
                        Lorem ipsum dolor sit amet, coni sectetur adipiscing elit.
                        </span>
                     </div>
                     <div class = "price-price"> 
                        <span><span>$</span>30</span>
                     </div>
                  </div>
                  <div class = "price-buy">
                     <button class = "btn btn-default" type="button">Buy Now</button>
                  </div>
               </div>
               <div class="col-sm-4 col-xs-12 price-box">
                  <div class = "price-content">
                     <div class = "price-header">
                        <h3 class = "title">Unlimited</h3>
                        <span class = "price-about">
                        Lorem ipsum dolor sit amet, coni sectetur adipiscing elit.
                        </span>
                     </div>
                     <div class = "price-price"> 
                        <span><span>$</span>50</span>
                     </div>
                  </div>
                  <div class = "price-buy">
                     <button class = "btn btn-default" type="button">Buy Now</button>
                  </div>
               </div>
            </div>
         </div>
      </section>