
/*--------------------------------------------------------------------------*/
/*------------  Begins : Testimonial / Testimonial green  ------------------*/
/*--------------------------------------------------------------------------*/
.testimonial-green {
  font-family: roboto;
  background: #ffffff;
  padding-top: 26px;
  padding-bottom: 30px;
}

.testimonial-green h2 { 
  font-size: 34px;
  font-weight: normal;
  padding-bottom: 24px;
} 

.testimonial-green   .carousel-indicators {
  position: absolute;
  bottom: auto;
  left: auto;
  z-index: 15;
  width: auto;
  right: 0px;
  top: -20px;
}

.testimonial-green  .carousel-indicators li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 0;
  margin-left: 4px;
} 

.testimonial-green  .carousel-indicators li.active {
  border: 2px solid;
}
 
.testimonial-green .testi-body {
  display: block;
  padding: 15px;
  font-weight: lighter;
  float: left;
  width: 100%;
  font-size: 18px;
  line-height: 190%;
  padding-bottom: 0px;
}

.testimonial-green .testi-name-designation {
  font-size: 25px;
  font-style: italic;
  padding-right: 40px;
  padding-bottom: 13px;
  margin-top: -13px;
}

.testimonial-green  .carousel-control.right {
  right: 20%;
  left: auto;
  width: 15px;
  text-align: center;
  bottom: 5px;
  top: auto;
}

.testimonial-green  .carousel-control.left {
  right: 80%;
  left: auto;
  width: 15px;
  text-align: center;
  bottom: 5px;
  top: auto;
}
/*--------------------------------------------------------------------------*/
/*------------  End : Testimonial / Testimonial green  ---------------------*/
/*--------------------------------------------------------------------------*/
