      <footer id="footer-light-orange" class="footer-section section footer-light-orange">
         <div class="footer-message">
            <div class="container">
               <div class="block-title footer-message-title row">
                  <h2 class="title"></h2>
               </div>
               <div class="block-content footer-message-content row">
                  <div class="row">
                     <div class="col-sm-1 info-icon">
                        <i class="fa fa-info-circle"></i>
                     </div>
                     <div class="col-sm-11">
					 <div class="title">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec porta orci. Morbi luctus quam nibh, eu lobortis turpis therus frumurs sollicitudinimperdiet. Sed ultricies ac ligula congue commodo. Nulla hendrerit erat at odio imperdiet, eget bibendum neque westurb it commodo.Aenean vestibulum, nunc in dignissim accumsan, eros eros molestie mi, a condimentum elit lorem a nisl. Quisque a finibus erat.Donec ut tempor ligula, id rhoncus magna. Nam ac nulla iaculis, posuere odio sed, placerat libero. Vivamus tellus augue, tincidunt
                     </div>
					</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-blocks">
            <div class="container">
               <div class="row">
                  <div class="col-sm-3 footer-menu footer-menu-1">
                     <aside id="block-menu-menu1" class="block-menu-menu1 block block-menu footer_block1">
                        <div class="title">
                           <h2>Company</h2>
                        </div>
                        <ul class="nav sidebar-menu">
                           <li class="first leaf"><a href="#" title="About us">About us</a></li>
						    <li class="leaf"><a href="#" title="Investments">Investments</a></li>
							 <li class="leaf"><a href="#" title="How it Works">How it Works</a></li>
                           <li class="last leaf"><a href="#" title="Blog">Blog</a></li>
                        </ul>
                     </aside>
                  </div>
                  <div class="col-sm-3 footer-menu footer-menu-2">
                     <aside id="block-menu-menu2" class="block-menu-menu2 block block-menu footer_block2">
                        <div class="title">
                           <h2>Newsletter</h2>
                        </div>
                        <ul class="nav sidebar-menu">
                           <li class="first leaf"><a href="#" title="News">News</a></li>
						   <li class="leaf"><a href="#" title="Design">Design</a></li>
                           <li class="last leaf"><a href="#" title="Development">Development</a></li>
                        </ul>
                     </aside>
                  </div>
                  <div class="col-sm-3 footer-menu footer-menu-3">
                     <aside id="block-menu-menu3" class="block-menu-menu3 block block-menu footer_block3">
                        <div class="title">
                           <h2>Links</h2>
                        </div>
                        <ul class="nav sidebar-menu">
                           <li class="first leaf"><a href="#" title="FAQ">FAQ</a></li>
						   <li class="leaf"><a href="#" title="Site map">Site map</a></li>
						   <li class="leaf"><a href="#" title="Terms and Conditions">Terms and Conditions</a></li>
						   <li class="last leaf"><a href="#" title="Privacy Policy">Privacy Policy</a></li>
                        </ul>
                     </aside>
                  </div>
                  <div class="col-sm-3 footer-menu footer-social">
                     <div class="footer-follow-wrap">
                        <div class="block-content">
							<div class="title">
                           <h2>Follow us on</h2>
							</div>
                           <div class="follow-links clearfix site">
						      <span class="follow-link-wrapper follow-link-wrapper-linkedin"><a href="https://www.linkedin.com/company/cmsbots-com" class="follow-link follow-link-linkedin follow-link-site" title="Follow us on  "> </a></span>
						      <span class="follow-link-wrapper follow-link-wrapper-twitter"><a href="https://twitter.com/cmsbots" class="follow-link follow-link-twitter follow-link-site" title="Follow us on  "> </a></span>
							  <span class="follow-link-wrapper follow-link-wrapper-facebook"><a href="https://www.facebook.com/CMSbots" class="follow-link follow-link-facebook follow-link-site" title="Follow us on  "> </a></span>
							  <span class="follow-link-wrapper follow-link-wrapper-googleplus"><a href="https://plus.google.com/+Cmsbots/posts" class="follow-link follow-link-googleplus follow-link-site" title="Follow us on  "> </a></span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-copyright text-center">
            <div class="container">
			<div class="block-content footer-copyright-title">
                 &#169; Copyright 2015  CMS Bots
               </div>
               <div class="block-content footer-copyright-content">
                  Fusce ornare dictum ligula eget eleifend. Proin turpis dui, aliquam a massa a, dapibus iaculis purus. Nam at cursus dolor. Namhendrerit felis a quam euismod, ac viverra risus volutpat. Aenean blandit rutrum vulputate. Donec tempus, odio quis interdum consequat
               </div>
            </div>
         </div>
      </footer>