      <footer id = "footer-green-white-medium" class = "footer-section section footer-green-white-medium text-center">
         <div class = "footer-social">
            <div class = "container">
               <div class = "row">
                     <div class = "footer-follow-wrap">
                        <div class = "block-content">
                           <div class="follow-links clearfix site">
						      <span class="follow-link-wrapper follow-link-wrapper-linkedin"><a href="https://www.linkedin.com/company/cmsbots-com" class="follow-link follow-link-linkedin follow-link-site" title="Follow us on  "> </a></span>
							  <span class="follow-link-wrapper follow-link-wrapper-twitter"><a href="https://twitter.com/cmsbots" class="follow-link follow-link-twitter follow-link-site" title="Follow us on  "> </a></span>
							  <span class="follow-link-wrapper follow-link-wrapper-facebook"><a href="https://www.facebook.com/CMSbots" class="follow-link follow-link-facebook follow-link-site" title="Follow us on  "> </a></span>
							  <span class="follow-link-wrapper follow-link-wrapper-googleplus"><a href="https://plus.google.com/+Cmsbots/posts" class="follow-link follow-link-googleplus follow-link-site" title="Follow us on  "> </a></span>
                           </div>
                        </div>
                     </div>
               </div>
            </div>
         </div>
         <div class = "footer-copyright-menu">
            <div class = "container">
               <div class = "row">
                  <div class = "col-sm-6 footer-copyright text-left">
                        <div class = "block-content footer-copyright-content">
                           © Copyright 2015  CMS Bots
                        </div>
                  </div>
                  <div class = "footer-menu col-sm-6 text-right">
                     <ul id="secondary-menu" class="links nav navbar-nav">
                        <li class="first leaf"><a href="#" title="Description of ter.">Terms & Conditions</a></li>
						<li class="leaf"><a href="#" title="Description of sit.">Site map</a></li>
						<li class="last leaf"><a href="#" title="Description of priv.">Privacy Policy </a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </footer>