.footer-wrap {
  font-family: 'Roboto', sans-serif;
}

.footer-wrap .footer-message {
  padding-bottom: 40px;  
  padding-top: 25px;
}

.footer-wrap .footer-message-title h2 {
  font-size: 2.4em;
  font-weight: normal;
}

.footer-wrap .footer-message .block-content {
  font-size: 1.24em;
  font-weight: normal;
  line-height: 2em;
}

.footer-wrap .footer-menu ul li a {
  padding: 0px 5px;
  font-weight: normal;
  border-right: 1px solid;
  font-size: 1.16em;  
}
 
.footer-wrap .footer-menu ul li.last a { 
  border-right: none;
}

.footer-wrap .footer-menu ul li a:hover,
.footer-wrap .footer-menu ul li a:focus {
  text-decoration: underline;
}
 
.footer-wrap .footer-copyright-menu {
  padding-bottom: 47px;  
  padding-top: 45px;
  border-top: 1px solid; 
}

.footer-wrap  .footer-copyright-content {
  font-size: 1.16em;
}

.footer-wrap  .footer-copyright {
  padding-left: 0px;
}
 