      <section id="blog-blue" class = "blog-blue blog-section mobile-carousel">
         <div class = "container">
            <div class = "view-header row">
               <h2 class="title col-sm-12">Latest Blog Posts</h2>
               <span class = "desc col-sm-9 col-xs-12">Cras in accumsan leo. Nulla nec arcu in magna ultricies ultricies. Suspendisse hendrerit purus urna. Integer in est a justo tincidunt lobortis, dignissim.</span>
               <span class="col-sm-3 text-right blog-readmore col-xs-12"><a href = "blog.html" title = "blog">View All Blogs</a></span> 
            </div>
            <div class = "row visible-xs mobile-carousel-controls" data-carousel-id = "blog-blue">
               <span class = "left"><i class="fa fa-angle-double-left"></i> Previous</span>
               <span class = "right">Next <i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="view-content mobile-carousel-inner text-left row" role="listbox">
               <div class="item active col-md-3 col-sm-6">
                  <span class="blog-image"><a href="blog-detail.html"><img src="assets/images/blog-blue-road-at-night.jpg"  alt="Road at night" /></a></span>    
                  <span class="blog-title"><a href="blog-detail.html">Pellentesque velit lacus, blandit.</a></span>    
                  <div class="row meta-info"><span class="col-md-6 col-sm-6 posted-date"><i class="fa fa-calendar"></i> Jan 04, 2015</span>    
                     <span class="col-md-6 col-sm-6 comments-count"><i class="fa fa-comments-o"></i> Comment(s): 12</span>
                  </div>
               </div>
               <div class="item col-md-3 col-sm-6">
                  <span class="blog-image"><a href="blog-detail.html"><img src="assets/images/blog-blue-coffee-shop.jpg"  alt="Road at night" /></a></span>      
                  <span class="blog-title"><a href="blog-detail.html">Nulla id metus nisl. Sed vel tincid.</a></span>    
                  <div class="row meta-info"><span class="col-md-6 col-sm-6 posted-date"><i class="fa fa-calendar"></i> 06 Feb, 2015</span>    
                     <span class="col-md-6 col-sm-6 comments-count"><i class="fa fa-comments-o"></i> Comment(s): 3</span>
                  </div>
               </div>
               <div class="item col-md-3 col-sm-6">
                  <span class="blog-image"><a href="blog-detail.html"><img src="assets/images/blog-blue-sailing-on-canal.jpg"  alt="Road at night" /></a></span>     
                  <span class="blog-title"><a href="blog-detail.html">Pellentesque velit lacus, blandit.</a></span>    
                  <div class="row meta-info"><span class="col-md-6 col-sm-6 posted-date"><i class="fa fa-calendar"></i> Jan 04, 2015</span>    
                     <span class="col-md-6 col-sm-6 comments-count"><i class="fa fa-comments-o"></i> Comment(s): 12</span>
                  </div>
               </div>
               <div class="item col-md-3 col-sm-6">
                  <span class="blog-image"><a href="blog-detail.html"><img src="assets/images/blog-blue-jumping-bikers.jpg"  alt="Road at night" /></a></span>    
                  <span class="blog-title"><a href="blog-detail.html">Nulla id metus nisl. Sed vel tincid.</a></span>    
                  <div class="row meta-info"><span class="col-md-6 col-sm-6 posted-date"><i class="fa fa-calendar"></i> 06 Feb, 2015</span>    
                     <span class="col-md-6 col-sm-6 comments-count"><i class="fa fa-comments-o"></i> Comment(s): 3</span>
                  </div>
               </div>
            </div>
         </div>
      </section>