      <section id="testimonial-light-blue" class = "testimonial-light-blue testimonial-section">
         <div class = "container">
            <h2 class="title text-center">Latest <strong>Testimonial</strong></h2>
            <div id="carousel-testimonial-light-blue" class="carousel carousel-testimonial-light-blue slide text-left" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carousel-testimonial-light-blue" data-slide-to="0" class = "active"></li>
                  <li data-target="#carousel-testimonial-light-blue" data-slide-to="1"></li>
                  <li data-target="#carousel-testimonial-light-blue" data-slide-to="2"></li>
                  <li data-target="#carousel-testimonial-light-blue" data-slide-to="3"></li>
                  <li data-target="#carousel-testimonial-light-blue" data-slide-to="4"></li>
                  <li data-target="#carousel-testimonial-light-blue" data-slide-to="5"></li>
               </ol>
               <div class="view-content carousel-inner" role="listbox">
                  <div class="active item row">
                     <span class="testi-image col-sm-2 hidden-xs"><img src="http://q2test.s3.amazonaws.com/image/theme/asset/testimonial-light-blue-miller-walker.jpg" width="120" height="120" alt="Miller walker" title="Miller walker" /></span>
                     <span class="testi-name-designation-body col-sm-10">
                     <span class="testi-body text-left"> Sed dignissim lacus neque, quis viverra odio convallis id. Etiam quis tempor est. Fusce at ultricies velit. Sed ut enim pretium, sollicitudin tortor eu, gravida ipsum. </span>
                     <span class="testi-name text-left">Miller walker</span>
                     <span class="testi-designation text-left">Founder CEO at VJ</span>
                     </span>
                  </div>
                  <div class="item row">
                     <span class="testi-image col-sm-2 hidden-xs"><img src="http://q2test.s3.amazonaws.com/image/theme/asset/testimonial-light-blue-lucy-joe.jpg" width="120" height="120" alt="Lucy joe" title="Lucy joe" /></span>
                     <span class="testi-name-designation-body col-sm-10">
                     <span class="testi-body text-left"> Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante. </span>
                     <span class="testi-name text-left">Lucy joe</span>
                     <span class="testi-designation text-left">Developer at Tech world</span>
                     </span>
                  </div>
                  <div class="item row">
                     <span class="testi-image col-sm-2 hidden-xs"><img src="http://q2test.s3.amazonaws.com/image/theme/asset/testimonial-light-blue-anna.jpg" width="120" height="120" alt="Anna " title="Anna" /></span>
                     <span class="testi-name-designation-body col-sm-10">
                     <span class="testi-body text-left"> Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante.</span>
                     <span class="testi-name text-left">Anna</span>
                     <span class="testi-designation text-left">Team leader at VMI</span>
                     </span>
                  </div>
                  <div class="item row">  
                     <span class="testi-image col-sm-2 hidden-xs"><img src="http://q2test.s3.amazonaws.com/image/theme/asset/testimonial-light-blue-john-cart.jpg" width="120" height="120" alt="john cart" title="john cart" /></span>
                     <span class="testi-name-designation-body col-sm-10">
                     <span class="testi-body text-left"> Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante. </span>
                     <span class="testi-name text-left">John cart</span>
                     <span class="testi-designation text-left">Manager at World theme</span>
                     </span>
                  </div>
                  <div class="item row">     
                     <span class="testi-image col-sm-2 hidden-xs"><img src="http://q2test.s3.amazonaws.com/image/theme/asset/testimonial-light-blue-metus-blandit.jpg" width="120" height="120" alt="metus blandit" title="metus blandit" /></span>
                     <span class="testi-name-designation-body col-sm-10">
                     <span class="testi-body text-left"> Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante.</span>
                     <span class="testi-name text-left">Metus blandit</span>
                     <span class="testi-designation text-left">Manager at Cado</span>
                     </span>
                  </div>
                  <div class="item row">     
                     <span class="testi-image col-sm-2 hidden-xs"><img src="http://q2test.s3.amazonaws.com/image/theme/asset/testimonial-light-blue-cras-molestie.jpg" width="120" height="120" alt=" cras_molestie" title=" cras_molestie" /></span>
                     <span class="testi-name-designation-body col-sm-10">
                     <span class="testi-body text-left"> Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante. </span>
                     <span class="testi-name text-left">Cras molestie</span>
                     <span class="testi-designation text-left">HR at BBM Tech</span>
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </section>