      <section id="portfolio-yellow" class = "portfolio-yellow portfolio-section mobile-carousel">
         <div class = "container">
            <div id="mixitup-options" class = "hidden-xs">
               <ul class="option-set clearfix col-sm-12">
                  <li class="filter" data-filter=".mix">All Designs</li>
                  <li class="filter" data-filter=".mix-graphics">Graphics</li>
                  <li class="filter" data-filter=".mix-illustration">Illustration</li>
                  <li class="filter" data-filter=".mix-web-designs">Web designs</li>
                  <li class="filter" data-filter=".mix-photography">Photography</li>
               </ul>
            </div>
            <div class = "visible-xs row mobile-carousel-controls" data-carousel-id = "portfolio-yellow">
               <span class = "left"><i class="fa fa-angle-double-left"></i> Prev</span>
               <span class = "right">Next <i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="view-content row mobile-carousel-inner" id="mixitup-container">
               <div class="mix col-sm-6 col-xs-12 item active mix-bootstrap mix-drupal mix-illustration" >
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-yellow-couples-sitting.jpg" alt="portfolio-street-night" title="portfolio street night" />
                     <span class = "portf-hover">
                     <span class = "portf-hover-inner">
                     <a href = "assets/images/portfolio-yellow-couples-sitting.jpg" class = "colorbox-image" title="portfolio street night"><i class="fa fa-search"></i></a>
                     <a href = "#" target = "_blank"><i class="fa fa-file-text"></i></a>
                     </span>  
                     </span>
                     </span>
                  </div>
               </div>
               <div class="mix col-sm-6 col-xs-12 item mix-graphics mix-web-designs">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-yellow-wood-forest.jpg" alt="portfolio-mountain-bird" title="mountain bird" />
                     <span class = "portf-hover">
                     <span class = "portf-hover-inner">
                     <a href = "assets/images/portfolio-yellow-wood-forest.jpg" class = "colorbox-image" title="portfolio street night"><i class="fa fa-search"></i></a>
                     <a href = "#" target = "_blank"><i class="fa fa-file-text"></i></a>
                     </span>  
                     </span>                     
                     </span>
                  </div>
               </div>
               <div class="mix col-sm-6 col-xs-12 item mix-drupal mix-wordpress">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-yellow-sea-shore.jpg" alt="portfolio-desert-jeep" title="desert jeep" />
                     <span class = "portf-hover">
                     <span class = "portf-hover-inner">
                     <a href = "assets/images/portfolio-yellow-sea-shore.jpg" class = "colorbox-image" title="portfolio street night"><i class="fa fa-search"></i></a>
                     <a href = "#" target = "_blank"><i class="fa fa-file-text"></i></a>
                     </span>  
                     </span>
                     </span>
                  </div>
               </div>
               <div class="mix col-sm-6 col-xs-12 item mix-html mix-photography">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-yellow-sunset-van.jpg" alt="portfolio-beach-road" title="beach road" />
                     <span class = "portf-hover">
                     <span class = "portf-hover-inner">
                     <a href = "assets/images/portfolio-yellow-sunset-van.jpg" class = "colorbox-image" title="portfolio street night"><i class="fa fa-search"></i></a>
                     <a href = "#" target = "_blank"><i class="fa fa-file-text"></i></a>
                     </span>  
                     </span> 
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </section>