    <section id="client-dark-grey" class="client-dark-grey clients-section clients-dark-grey-item">
      <div class="container">
               <div class="view view-q-homeclientele-clients-dark-grey view-id-q_homeclientele_clients_dark_grey view-display-id-block view-dom-id-d9e90cfa7dcd43c69e03c7f55938aea3 block-views-q-homeclientele-clients-dark-grey-block-1">
                  <div class="view-content row">
                     <div class="views-row views-row-1 col-md-2 clientele-item">
                        <span class="image-border"><img src="assets/images/client-canon.jpg" width="205" height="69" alt="canon" title="canon" /></span>    
                     </div>
                     <div class="views-row views-row-2 col-md-2 clientele-item">
                        <span class="image-border"><img src="assets/images/client-youtube.jpg" width="205" height="69" alt="youtube" title="youtube" /></span>    
                     </div>
                     <div class="views-row views-row-3 col-md-2 clientele-item">
                        <span class="image-border"><img src="assets/images/client-dropbox.jpg" width="205" height="69" alt="dropbox" title="dropbox" /></span>    
                     </div>
                     <div class="views-row views-row-4 col-md-2 clientele-item">   
                        <span class="image-border"><img src="assets/images/client-vimeo.jpg" width="205" height="69" alt="vimeo" title="vimeo" /></span>    
                     </div>
                     <div class="views-row views-row-5 col-md-2 clientele-item">
                        <span class="image-border"><img src="assets/images/client-google.jpg" width="205" height="69" alt="google" title="google" /></span>    
                     </div>
                     <div class="views-row views-row-6 col-md-2 clientele-item">
                        <span class="image-border"><img src="assets/images/client-heineken.jpg" width="205" height="69" alt="heineken" title="heineken" /></span>    
                     </div>
                  </div>
               </div>
      </div>
	  </section>