    {% if page.content_aqua_green %}
      <section class = "content-aqua-green plugin-content">
         <div class = "{{ container }}">
        {{ page.content_aqua_green }}
          </div>
      </section>
    {% elseif snippet.content_aqua_green %}
      <section class = "content-aqua-green plugin-content">
         <div class = "{{ container }}">
        {{ snippet.content_aqua_green }}
          </div>
      </section>
    {% endif %}
