/*--------------------------------------------------------------------------*/
/*----------------------  Begins : Portfolio / portfolio hexagon  ----------*/
/*--------------------------------------------------------------------------*/
.portfolio-hexagon {
  background-color: #ffffff;
}

.portfolio-hexagon .portfolio-header,
.portfolio-hexagon h1,
.portfolio-hexagon h2,
.portfolio-hexagon h3,
.portfolio-hexagon h4,
.portfolio-hexagon h5 {
  color: #4b4b4b;
}

.portfolio-hexagon  .honeycombs .inner_span {
  color: #000000;
}

.portfolio-hexagon .inner-text a {
  color: #ffffff;
}

.portfolio-hexagon  .mobile-carousel-controls span {
  color: #ffffff;
  background-color: #bf6b40;
}

.portfolio-hexagon  .mobile-carousel-controls span:hover {
  background-color: #222222;
  color: #ffffff;
}
/*--------------------------------------------------------------------------*/
/*----------------------  End : Portfolio / portfolio hexagon  -------------*/
/*--------------------------------------------------------------------------*/
 