
/*--------------------------------------------------------------------------*/
/*------------  Begins : Clients / Clients Green  --------------------------*/
/*--------------------------------------------------------------------------*/
.client-green {
  background-color: #EEEEEE;
}

.client-green .clientele-header {
  color: #13b488;
}

.client-green .clientele-desc {
  color: #4b4b4b;
}
/*--------------------------------------------------------------------------*/
/*------------  End : Clients / Clients Green  -----------------------------*/
/*--------------------------------------------------------------------------*/
