      <footer id = "footer-green-medium" class = "footer-section section footer-green-medium">
         <div class = "container footer-blocks">

               <div class = "col-md-6 footer-message">
                  <div class = "block-title footer-message-title">
                     <h2 class = "title">CMS Bots</h2>
                  </div>
                  <div class = "block-content footer-message-content">
                     <h4>250,000 downloads since November</h4>
                     <p>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                     </p>
                  </div>
               </div>
               <div class = "col-md-6 footer-menus">
                  <div class = "rower">
                     <div class = "col-sm-4 footer-menu footer-menu-1">
                        <aside id="block-menu-menu1" class="block-menu-menu1 block block-menu footer_block1">
                           <div class = "title">
                              <h2 class="">Company</h2>
                           </div>
                           <ul class="nav sidebar-menu">
                              <li class="first leaf"><a href="#" title="About us">About us</a></li>
							  <li class="leaf"><a href="#" title="Investments">Investments</a></li>
							  <li class="leaf"><a href="#" title="How it works">How it works</a></li>
                              <li class="last leaf"><a href="#" title="Blog">Blog</a></li>
                           </ul>
                        </aside>
                     </div>
                     <div class = "col-sm-4 footer-menu footer-menu-2">
                        <aside id="block-menu-menu2" class="block-menu-menu2 block block-menu footer_block2">
                           <div class = "title">
                              <h2  class="">Services</h2>
                           </div>
                           <ul class="nav sidebar-menu">
                              <li class="first leaf"><a href="#" title="Designs">Designs</a></li>
							  <li class="leaf"><a href="#" title="Development">Development</a></li>
                              <li class="last leaf"><a href="#" title="Multimedia">Multimedia</a></li>
                           </ul>
                        </aside>
                     </div>
                     <div class = "col-sm-4 footer-menu footer-menu-3">
                        <aside id="block-menu-menu3" class="block-menu-menu3 block block-menu footer_block3">
                           <div class = "title">
                              <h2  class="">Links</h2>
                           </div>
                           <ul class="nav sidebar-menu">
                              <li class="first leaf"><a href="#" title="FAQ">FAQ</a></li>
							  <li class="leaf"><a href="#" title="Sitemap">Sitemap</a></li>
							  <li class="leaf"><a href="#" title="Terms and Conditions">Terms and Conditions</a></li>
							  <li class="last leaf"><a href="#" title="Privacy policy">Privacy policy</a></li>
                           </ul>
                        </aside>
                     </div>
                  </div>
               </div>

         </div>
         <div class = "footer-copyright-menu container">
          
               <div class = "col-sm-6 footer-copyright text-left">
                  <div class = "block-content footer-copyright-content">
                     © 2015  CMS Bots
                  </div>
               </div>
               <div class = "col-sm-6 footer-menu text-right hidden-xs">
                  <ul id="secondary-menu" class="links nav navbar-nav pull-right">
                     <li class="first leaf"><a href="#" title="Site map">Site map</a></li>
					 <li class="leaf"><a href="#" title="Terms and conditions">Terms and conditions</a></li>
					 <li class="last leaf"><a href="#" title="Privacy policy">Privacy policy</a></li>
                  </ul>
               </div>
 
         </div>
      </footer>