@media (max-width: 767px) {

.footer-orange-small .footer-subscribe {
  padding-top: 25px;
  padding-bottom: 20px;
}

.footer-orange-small .footer-subscribe .title-wrap {
  margin-bottom: 0px;  
}

.footer-orange-small .footer-copyright .footer-copyright-content {
  margin-top: 5px;
}

.footer-orange-small .footer-copyright {
  padding-bottom: 0px;
}

.footer-orange-small .footer-subscribe #contact_email {
  width: 90%;
  text-align: center;
  display: inline-block;
  margin-bottom: 30px;
}

.footer-orange-small .footer-subscribe .subscribe-form-submit {
  width: 90%;
  text-align: center;
}

.footer-orange-small .footer-subscribe .subscribe-form-submit {
  float: none;
}

.footer-orange-small .footer-copyright,
.footer-orange-small .footer-follow-wrap {
  text-align: center;
}

.footer-orange-small .footer-menu ul {
  text-align: center;
  float: none;
}

.footer-orange-small .footer-menu ul li {
  display: inline-block;
}

.footer-orange-small .footer-menu ul li a {
  font-size: 1.1em;
  margin-bottom: 13px;
  padding: 4px 4px;
}
  
}