      <section  id="clients-orange" class="clients-orange clients-section clients-orange-item" >
	    <div class = "container">
         <div class = "title container text-center">
            <h2  class="">WORLD BRANDS ARE SOME OF OUR SATISFIED CLIENTS </h2>
         </div>
              <div class="view-content row">
                  <div class="col-md-2 clients-orange-item">
                      <img src="assets/images/clients-canon.png" width="205" height="69" alt="canon" title="canon" />    
                  </div>
                  <div class="col-md-2 clients-orange-item">
                     <img src="assets/images/clients-youtube.png" width="205" height="69" alt="youtube" title="youtube" />    
                  </div>
                  <div class="col-md-2 clients-orange-item">
                     <img src="assets/images/clients-dropbox.png" width="205" height="69" alt="dropbox" title="dropbox" />    
                  </div>
                  <div class="col-md-2 clients-orange-item">
                     <img src="assets/images/clients-vimeo.png" width="205" height="69" alt="vimeo" title="vimeo" />    
                  </div>
                  <div class="col-md-2 clients-orange-item">
                     <img src="assets/images/clients-google.png" width="205" height="69" alt="google" title="google" />    
                  </div>
                  <div class="col-md-2 clients-orange-item">
                     <img src="assets/images/clients-heineken.png" width="205" height="69" alt="heineken" title="heineken" />    
                  </div>
               </div>
            </div>
      </section>