      <section id="testimonial-grey-black" class = "testimonial-grey-black testimonial-section">
         <div class = "container">
            <h2 class="title text-center">What Our Clients Says</h2>
            <div id="carousel-testimonial-grey-black" class="carousel carousel-testimonial-grey-black slide" data-ride="carousel">
               <div class="carousel-inner" role="listbox">
                  <div class="active item" >
                     <div class="testi-wrap row">
                        <span class="col-sm-9 testi-body-wrap">
                        <span class="testi-body text-left">Suspendisse vulputate leo metus, eu sodales est pellentesque mollis. Nam id ultricies ipsum. Mauris idrustrust Nullam commodo gravida ultrices. Cras molestie dui non tellus rhoncus rhoncus. </span>
                        </span>
                        <span class="col-sm-3 testi-name-designation">
                        <span class="testi-name text-left">Miller walker, </span>
                        <span class="testi-designation text-left">Founder CEO at VJ</span>
                        </span>
                     </div>
                  </div>
                  <div class="item">
                     <div class="testi-wrap row">
                        <span class="col-sm-9 testi-body-wrap">
                        <span class="testi-body text-left">Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante. </span>
                        </span>
                        <span class="col-sm-3 testi-name-designation">
                        <span class="testi-name text-left">Lucy joe, </span>
                        <span class="testi-designation text-left">Developer at Tech world</span>
                        </span>
                     </div>
                  </div>
                  <div class="item">
                     <div class="testi-wrap row">
                        <span class="col-sm-9 testi-body-wrap">
                        <span class="testi-body text-left">Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante.</span>
                        </span>
                        <span class="col-sm-3 testi-name-designation">
                        <span class="testi-name text-left">Anna, </span>
                        <span class="testi-designation text-left">Team leader at VMI</span>
                        </span>
                     </div>
                  </div>
                  <div class="item">
                     <div class="testi-wrap row">
                        <span class="col-sm-9 testi-body-wrap">
                        <span class="testi-body text-left">Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante. </span>
                        </span>
                        <span class="col-sm-3 testi-name-designation">
                        <span class="testi-name text-left">John cart, </span>
                        <span class="testi-designation text-left">Manager at World theme</span>
                        </span>
                     </div>
                  </div>
                  <div class="item">
                     <div class="testi-wrap row">
                        <span class="col-sm-9 testi-body-wrap">
                        <span class="testi-body text-left">Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante.</span>
                        </span>
                        <span class="col-sm-3 testi-name-designation">
                        <span class="testi-name text-left">Metus blandit, </span>
                        <span class="testi-designation text-left">Manager at Cado</span>
                        </span>
                     </div>
                  </div>
                  <div class="item">
                     <div class="testi-wrap row">
                        <span class="col-sm-9 testi-body-wrap">
                        <span class="testi-body text-left">Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante. </span>
                        </span>
                        <span class="col-sm-3 testi-name-designation">
                        <span class="testi-name text-left">Cras molestie, </span>
                        <span class="testi-designation text-left">HR at BBM Tech</span>
                        </span>
                     </div>
                  </div>
               </div>
               <!-- Left and right controls -->
               <a class="left carousel-control" href="#carousel-testimonial-grey-black" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="right carousel-control" href="#carousel-testimonial-grey-black" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>
      </section>