@media (min-width: 768px) and (max-width: 1169px) {

.content-box .responsive-image {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.content-orange .content-boxes .content-box .title {
  font-weight: normal;
  margin-left: 20px;
  display: inline-flex;
  margin-bottom: 1px;
}

.content-orange .content-boxes .content-box .description {
  margin-left: 20px;
}

.content-orange .content-boxes .content-box .icon-circle {
  border-radius: 35px;
  display: inline-flex;
  font-size: 2.5em;
  height: 70px;
  margin-top: 5px;
  width: 70px;
}

.content-orange .content-boxes .content-box .icon-circle i {
  margin: auto;
  padding-top: 2px;
}

}

@media (max-width: 767px) {

.content-orange {
  padding-top: 6px;
  padding-bottom: 6px;
}

.content-orange .top-header .title {
  font-size: 2.40em;
  padding-left: 10px;
  padding-right: 10px;
}

.content-orange .top-header .description {
  font-size: 0.98em;
  margin-bottom: 29px;
  padding-left: 10px;
  padding-right: 10px;
}

.content-box .responsive-image {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.content-orange .responsive-image {
  margin-bottom: 26px;
  width: 100%;
}

.content-orange .content-boxes .content-box .title {
  font-size: 1.60em;
  font-weight: normal;
  margin-left: 15px;
  display: inline-flex;
  margin-bottom: 1px;
}

.content-orange .content-boxes .content-box .description {
  font-size: 1.18em;
  margin-left: 15px;
}

.content-orange .content-boxes .content-box .icon-circle {
  border-radius: 35px;
  display: inline-flex;
  font-size: 2.5em;
  height: 70px;
  margin-top: 5px;
  width: 70px;
}

.content-orange .content-boxes .content-box .icon-circle i {
  margin: auto;
  padding-top: 2px;
}
  
.content-orange .content-boxes .content-box {
  margin-bottom: 20px;
}

}