.content-orange {
  font-family: 'Roboto', sans-serif;
  padding-top: 22px;
  padding-bottom: 24px;
}

.content-orange .top-header .title {
  font-size: 3.2em;
  font-weight: normal;
}

.content-orange .top-header .description {
  font-size: 1.20em;
  margin-bottom: 28px;
}

.content-orange .responsive-image {
  margin-bottom: 50px;
}

.content-orange .content-boxes .content-box .title {
  font-size: 1.46em;
  margin-bottom: 6px;
  margin-left: 20px;
}

.content-orange .content-boxes .content-box .description {
  display: block;
  font-size: 1.20em;
  padding-top: 6px;
  margin-left: 20px;
}

.content-orange .content-boxes .content-box .icon-circle {
  border-radius: 40px;
  display: inline-flex;
  font-size: 3.2em;
  height: 80px;
  margin-top: 5px;
  width: 80px;
}

.content-orange .content-boxes .content-box .icon-circle i {
  margin: auto;
  padding-top: 2px;
}