      <section id="team-green" class = "team-green team-section mobile-carousel">
         <div class = "container">
            <div class="team-header text-left row">
               <h2 class="col-xs-12 col-sm-2 title">Our Team</h2>
               <span class="col-xs-12 col-sm-10 desc">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac sapien a sem tincidunt suscipit. Curabitur ut neque vel felis cursus tempus. Aliquam erat volutpat. Nulla varius vulputate mauris aliquam laoreet. Vivamus laoreet massa lorem, vitae efficitur lorem aliquam nec. Duis at cursus tellus. Praesent consectetur congue arcu. 
               </span>     
            </div>
            <div class = "visible-xs row mobile-carousel-controls" data-carousel-id = "team-green">
               <span class = "left"><i class="fa fa-angle-double-left"></i> Prev</span>
               <span class = "right">Next <i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="view-content row mobile-carousel-inner" role="listbox">
               <div class="col-md-3 col-sm-6 item active">
                  <div class="team-inner">
                     <div class="team-image"><img src="assets/images/team-green-ruby.jpg" alt="ruby" title="ruby" /></div>
                     <div class="team-content">
                        <span class="team-name-designation">
                        <span class="team-name">RubY</span>
                        <span class="team-designation">Chairman &amp; CEO</span>
                        </span>
                        <span class="team-body">Curabitur at nisl eu massa consequat egestas. Donec in erat efficitur, ultric es ex non, semper velit. Aliquam vest ibulu mnisi libero, eu elementum.</span>
                     </div>
                     <div class="team-social">
                        <ul class = "list-unstyled list-inline">
                           <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6 item">
                  <div class="team-inner">
                     <div class="team-image"><img src="assets/images/team-green-anna.jpg" alt="Anna" title="Anna" /></div>
                     <div class="team-content">
                        <span class="team-name-designation">
                        <span class="team-name">Anna</span>
                        <span class="team-designation">Managing Director</span>
                        </span>
                        <span class="team-body">Curabitur at nisl eu massa consequat egestas. Donec in erat efficitur, ultric es ex non, semper velit. Aliquam vest ibulu mnisi libero, eu elementum.</span>
                     </div>
                     <div class="team-social">
                        <ul class = "list-unstyled list-inline">
                           <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6 item">
                  <div class="team-inner">
                     <div class="team-image"><img src="assets/images/team-green-maxwell.jpg" alt="maxwell" title="maxwell" /></div>
                     <div class="team-content ">
                        <span class="team-name-designation">
                        <span class="team-name">Maxwell</span>
                        <span class="team-designation">HR Manager</span>
                        </span>
                        <span class="team-body">Curabitur at nisl eu massa consequat egestas. Donec in erat efficitur, ultric es ex non, semper velit. Aliquam vest ibulu mnisi libero, eu elementum.</span>
                     </div>
                     <div class="team-social">
                        <ul class = "list-unstyled list-inline">
                           <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6 item">
                  <div class="team-inner">
                     <div class="team-image"><img src="assets/images/team-green-thomas.jpg" alt="thomas" title="thomas" /></div>
                     <div class="team-content">
                        <span class="team-name-designation">
                        <span class="team-name">Thomas</span>
                        <span class="team-designation">Team Leader</span>
                        </span>
                        <span class="team-body">Curabitur at nisl eu massa consequat egestas. Donec in erat efficitur, ultric es ex non, semper velit. Aliquam vest ibulu mnisi libero, eu elementum.</span>
                     </div>
                     <div class="team-social">
                        <ul class = "list-unstyled list-inline">
                           <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>