      <footer id = "footer-dark-green" class = "footer-section section footer-dark-green">
         <div class = "footer-menus-signup container">
            <div class = "row">
               <div class = "col-md-4 footer-menus">
                  <div class = "row">
                     <div class = "col-sm-6 footer-menu footer-menu-1">
                           <aside id="block-menu-menu1" class="block-menu-menu1 block block-menu footer_block1">
                              <div class = "title">
                                 <h2  class="">Company</h2>
                              </div>
                              <ul class="nav sidebar-menu">
                                 <li class="first leaf"><a href="#" title="About us">About us</a></li>
								 <li class="leaf"><a href="#" title="Investments">Investments</a></li>
								 <li class="leaf"><a href="#" title="How its works">How its works</a></li>
                                 <li class="last leaf"><a href="#" title="Blog">Blog</a></li>
                              </ul>
                           </aside>
                     </div>
                     <div class = "col-sm-6 footer-menu footer-menu-2">
                           <aside id="block-menu-menu2" class="block-menu-menu2 block block-menu footer_block2">
                              <div class = "title">
                                 <h2  class="">Services</h2>
                              </div>
                              <ul class="nav sidebar-menu">
                                 <li class="first leaf"><a href="#" title="Designs">Designs</a></li>
								  <li class="leaf"><a href="#" title="Development">Development</a></li>
                                 <li class="last leaf"><a href="#" title="Multimedia ">Multimedia</a></li>
                              </ul>
                           </aside>
                     </div>
                  </div>
               </div>
               <div class = "col-md-4 footer-message">
                     <div class = "block-title footer-message-title row">
                        <h2 class = "title">Help</h2>
                     </div>
                     <div class = "block-content footer-message-content row">
                        Needs any Help? Dont hestiate to ask us something. Email us directly to get deatils at  <a href="#">infocmsbots.com.</a>Vivamus pharetra, for purus quis malesuada rhoncus, lacusrwll tortor fermentum nibh, sed interdum.
                     </div>
               </div>
               <div class = "col-md-4 footer-signup">
                     <div class = "block-title title footer-signup-title">
                        <h2>Subscribe</h2>
                     </div>
                     <div class = "block-content footer-signup-content">
                        <form id="mainchimp-subscribe" role="form" name="contactform1" class="flat-form form-inline mainchimp-subscribe form-horizontal" method="post" post-url="https://quardz.us2.list-manage.com/subscribe/post?u=9eba3d1fdf97776e30906f405&amp;id=8f8fe8e466">
                           <p class="form-control-static">Phasellus aliquam libero at enim,<br> nec iaculis risus cursus. Suspendisse potenti.</br></p>
                           <input id="contact_email" class="subscribe-form-email form-control input-lg col-md-8" type="email" autocomplete="off" placeholder="Enter your email here" name="EMAIL" />
                           <div style="position: absolute; left: -5000px;"><input type="text" name="b_9eba3d1fdf97776e30906f405_8f8fe8e466" tabindex="-1" value="" /></div>
                           <button class="subscribe-form-submit btn btn-black btn-lg col-md-4" data-loading-text="Loading..." name="subscribe">SUBSCRIBE</button>
                        </form>
                        <!-- Form Ends -->
                     </div>
               </div>
            </div>
         </div>
         <div class = "container footer-copyright text-left">
            <div class = "row">
                  <div class = "block-content footer-copyright-content">
                   &#169;  Copyright 2015  CMS Bots
                  </div>
            </div>
         </div>
      </footer>