      <section id="price-pricetable-aqua-green" class = "price-pricetable-aqua-green price-pricetable">
         <div class = "container">
            <div class="row text-center">
               <h2 class="title">CHOOSE YOUR PLAN</h2>
               <div class="col-sm-10 col-xs-12 desc price-desc col-sm-offset-1">
                  <p> Etiam aliquam nisi nisi, at auctor massa volutpat ac. Interdum et malesuada fames ac ante Suspendisse accumsan euismod nulla ut auctor. Suspendisse sit amet fermentum risus, in molestie quam. </p>
               </div>
            </div>
            <div class="row price-table">
               <div class="col-md-3 col-sm-6 col-xs-12 price-box">
                  <div class = "price-header">
                     <h3>STARTER</h3>
                     <span class = "price-plan-desc">Lorem ipsum dolor sit amet, consectetur.</span>
                  </div>
                  <div class = "price-features">
                     <ul class = "price-features-list list-unstyled">
                        <li class = "price-about">Donec vitae leo eleifend, porttitor tortor sit amet, vestibulum ex. Quisque libero nisi, euismod id maximus vitae, malesuada non.</li>
                        <li><strong>500MB </strong>Disk Space</li>
                        <li><strong>200MB </strong>Montly Traffic</li>
                        <li><strong>2 </strong>Subdomains</li>
                        <li><strong>5 </strong>Email Accounts</li>
                        <li>Webmail Support</li>
                        <li class = "price-price">
                           <button class = "btn btn-default" type="button">SIGN UP</button>
                           <span class = "price-cost">$30<span> /m</span></span>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6 col-xs-12 price-box">
                  <div class = "price-header">
                     <h3>PERSONAL</h3>
                     <span class = "price-plan-desc">Lorem ipsum dolor sit amet, consectetur.</span>
                  </div>
                  <div class = "price-features">
                     <ul class = "price-features-list list-unstyled">
                        <li class = "price-about">Donec vitae leo eleifend, porttitor tortor sit amet, vestibulum ex. Quisque libero nisi, euismod id maximus vitae, malesuada non.</li>
                        <li><strong>1 GB </strong>Disk Space</li>
                        <li><strong>500MB </strong>Montly Traffic</li>
                        <li><strong>5 </strong>Subdomains</li>
                        <li><strong>10 </strong>Email Accounts</li>
                        <li>Webmail Support</li>
                        <li class = "price-price">
                           <button class = "btn btn-default" type="button">SIGN UP</button>
                           <span class = "price-cost">$50<span> /m</span></span>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6 col-xs-12 price-box">
                  <div class = "price-header">
                     <h3>BUSINESS</h3>
                     <span class = "price-plan-desc">Lorem ipsum dolor sit amet, consectetur.</span>
                  </div>
                  <div class = "price-features">
                     <ul class = "price-features-list list-unstyled">
                       <li class = "price-about">Donec vitae leo eleifend, porttitor tortor sit amet, vestibulum ex. Quisque libero nisi, euismod id maximus vitae, malesuada non.</li>
                        <li><strong>5 GB </strong>Disk Space</li>
                        <li><strong>1 GB </strong>Montly Traffic</li>
                        <li><strong>10 </strong>Subdomains</li>
                        <li><strong>25 </strong>Email Accounts</li>
                        <li>Webmail Support</li>
                        <li class = "price-price">
                           <button class = "btn btn-default" type="button">SIGN UP</button>
                           <span class = "price-cost">$70<span> /m</span></span>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6 col-xs-12 price-box">
                  <div class = "price-header">
                     <h3>UNLIMITED</h3>
                     <span class = "price-plan-desc">Lorem ipsum dolor sit amet, consectetur.</span>
                  </div>
                  <div class = "price-features">
                     <ul class = "price-features-list list-unstyled">
                        <li class = "price-about">Donec vitae leo eleifend, porttitor tortor sit amet, vestibulum ex. Quisque libero nisi, euismod id maximus vitae, malesuada non.</li>
                        <li><strong>Unlimited </strong>Disk Space</li>
                        <li><strong>10 GB </strong>Montly Traffic</li>
                        <li><strong>1000 </strong>Subdomains</li>
                        <li><strong>100 </strong>Email Accounts</li>
                        <li>Webmail Support</li>
                        <li class = "price-price">
                           <button class = "btn btn-default" type="button">SIGN UP</button>
                           <span class = "price-cost">$90<span> /m</span></span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>