      <section id="blog-pink" class = "blog-pink blog-section">
         <div class = "container">
            <div class = "view-header row text-center">
               <h2 class="title col-sm-12">Latest Blog</h2>
               <span class="blog-readmore col-xs-12"><a href = "blog.html" title = "blog">View All Blogs</a></span> 
            </div>
            <div class="view-content text-left row" role="listbox">
               <span class="col-sm-6 col-xs-12 blog-image"><a href="blog-detail.html"><img src="assets/images/blog-pink-road-at-night.jpg" alt="Road at night" /></a></span>    
               <div class="col-sm-6 col-xs-12 text-left meta-info">
                  <span class="posted-date">02-06-2015</span>    
                  <span class="author">by BEN HENRY</span>    
                  <span class="blog-title">Pellentesque velit lacus, blandit.</span>    
                  <span class="descrip"> Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere eros et libero fermentum, volutpat ante placerat. Phasellus volutpat molestie congue. Donec in est ac dolor fermentum sodales eget mi. In erat massa, feugiat at elementum et, mattis sit amet nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				  </span>    
                  <span class="view-more"><a class="readmore" href="blog-detail.html" title="read more">Read more</a></span>
               </div>
            </div>
         </div>
      </section>