<div class = "breadcrumb-wrap">
  <div class="container">
    <div class = "row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><i class="fa fa-home pr-10"></i> <a href="index.html" title = "home">Home</a></li>
          <li class="active"> <i class="fa fa-angle-double-right"></i> Portfolio</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<section class="main-container portfolio-purple portfolio-section">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h1 class="page-title">Portfolio</h1>
      </div>
      <!-- main end -->
    </div>
            <div class = "portfolio-content row">
               <div class = "portfolio-left col-sm-3">
                  <div id="mixitup-options" class = "hidden-xs">
                     <h3>WORK TYPE </h3>
                     <ul class="option-set clearfix col-sm-12">
                        <li class="filter" data-filter="*">All designs</li>
                        <li class="filter" data-filter=".mix-graphics">Graphics</li>
                        <li class="filter" data-filter=".mix-illustration">Illustration</li>
                        <li class="filter" data-filter=".mix-web-designs">Web designs</li>
                        <li class="filter" data-filter=".mix-photography">Photography</li>
                     </ul>
                  </div>
                  <span class = "desc col-xs-12">Nunc posuere fermentum mattis. Nulla mattis arcu odio, elementu venenatis ligula.  </span>

               </div>
               <div class = "portfolio-left col-sm-9">
                  <div class="view-content row" id="mixitup-container">
                     <div class="mix col-md-4  col-sm-6 col-xs-12 item active mix-bootstrap mix-drupal mix-illustration" >
                        <div class="inner-box ">
                           <span class="portf-image"><img src="assets/images/portfolio-purple-couples-sitting.jpg" alt="portfolio-couples-sitting" title="portfolio couples sitting" />
                           <span class = "portf-hover">
                           <span class = "portf-hover-inner">
                           <a href = "assets/images/portfolio-purple-couples-sitting.jpg" class = "colorbox-image" title="portfolio couples sitting">View large</a>
                           </span>  
                           </span>
                           </span>
                        </div>
                     </div>
                     <div class="mix col-md-4 col-sm-6 col-xs-12 item mix-graphics mix-web-designs">
                        <div class="inner-box ">
                           <span class="portf-image"><img src="assets/images/portfolio-purple-wood-forest.jpg" alt="portfolio-wood-forest" title="portfolio wood forest" />
                           <span class = "portf-hover">
                           <span class = "portf-hover-inner">
                           <a href = "assets/images/portfolio-purple-wood-forest.jpg" class = "colorbox-image" title="portfolio wood forest">View large</a>             
                           </span>  
                           </span>                     
                           </span>
                        </div>
                     </div>
                     <div class="mix col-md-4 col-sm-6 col-xs-12 item mix-drupal mix-wordpress">
                        <div class="inner-box ">
                           <span class="portf-image"><img src="assets/images/portfolio-purple-sea-shore.jpg" alt="portfolio-sea-shore" title="portfolio sea shore" />
                           <span class = "portf-hover">
                           <span class = "portf-hover-inner">
                           <a href = "assets/images/portfolio-purple-sea-shore.jpg" class = "colorbox-image" title="portfolio sea shore">View large</a>
                           </span>  
                           </span>
                           </span>
                        </div>
                     </div>
                     <div class="mix col-md-4 col-sm-6 col-xs-12 item mix-html mix-photography">
                        <div class="inner-box ">
                           <span class="portf-image"><img src="assets/images/portfolio-purple-sunset-van.jpg" alt="portfolio-sunset-van" title="portfolio sunset van" />
                           <span class = "portf-hover">
                           <span class = "portf-hover-inner">
                           <a href = "assets/images/portfolio-purple-sunset-van.jpg" class = "colorbox-image" title="portfolio sunset van">View large</a>
                           </span>  
                           </span> 
                           </span>
                        </div>
                     </div>
                     <div class="mix col-md-4 col-sm-6 col-xs-12 item mix-joomla mix-wordpress">
                        <div class="inner-box ">
                           <span class="portf-image"><img src="assets/images/portfolio-purple-bridge-top.jpg" alt="portfolio-bridge-top" title="portfolio bridge top" />
                           <span class = "portf-hover">
                           <span class = "portf-hover-inner">
                           <a href = "assets/images/portfolio-purple-bridge-top.jpg" class = "colorbox-image" title="portfolio bridge top">View large</a>
                           </span>  
                           </span>                       
                           </span>
                        </div>
                     </div>
                     <div class="mix col-md-4 col-sm-6 col-xs-12 item mix-graphics mix-photography">
                        <div class="inner-box ">
                           <span class="portf-image"><img src="assets/images/portfolio-purple-railway-track.jpg" alt="portfolio-railway-track" title="portfolio railway track" />
                           <span class = "portf-hover">
                           <span class = "portf-hover-inner">
                           <a href = "assets/images/portfolio-purple-railway-track.jpg" class = "colorbox-image" title="portfolio railway track">View large</a>
                           </span>  
                           </span>                     
                           </span>
                        </div>
                     </div>
                     <div class="mix col-md-4 col-sm-6 col-xs-12 item mix-illustration mix-joomla">
                        <div class="inner-box ">
                           <span class="portf-image"><img src="assets/images/portfolio-purple-old-car-inside.jpg" alt="portfolio-old-car-inside" title="portfolio old car inside" />
                           <span class = "portf-hover">
                           <span class = "portf-hover-inner">
                           <a href = "assets/images/portfolio-purple-old-car-inside.jpg" class = "colorbox-image" title="portfolio old car inside">View large</a>
                           </span>  
                           </span>                     
                           </span>
                        </div>
                     </div>
                     <div class="mix col-md-4 col-sm-6 col-xs-12 item mix-bootstrap mix-photography mix-web-designs">
                        <div class="inner-box ">
                           <span class="portf-image"><img src="assets/images/portfolio-purple-walking-path.jpg" alt="portfolio-walking-path" title="portfolio walking path" />
                           <span class = "portf-hover">
                           <span class = "portf-hover-inner">
                           <a href = "assets/images/portfolio-purple-walking-path.jpg" class = "colorbox-image" title="portfolio walking path">View large</a>
                           </span>  
                           </span>                       
                           </span>
                        </div>
                     </div>
					 <div class="mix col-md-4 col-sm-6 col-xs-12 item mix-bootstrap mix-photography mix-web-designs">
                        <div class="inner-box ">
                           <span class="portf-image"><img src="assets/images/portfolio-purple-field-tractor.jpg" alt="portfolio-field-tractor" title="portfolio field tractor" />
                           <span class = "portf-hover">
                           <span class = "portf-hover-inner">
                           <a href = "assets/images/portfolio-purple-field-tractor.jpg" class = "colorbox-image" title="portfolio field tractor">View large</a>
                           </span>  
                           </span>                       
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
  </div>
</section>