.footer-wrap {
  background-color: #e84c3d;
}
.footer-wrap .footer-menu ul li a:hover,
.footer-wrap .footer-menu ul li a:focus {
  background: transparent;
}
.footer-wrap .footer-menu ul li a,
.footer-wrap,
.footer-wrap .footer-social .follow-link-wrapper a:before {
  color: #ffffff;
}

.footer-wrap .footer-social .follow-link-wrapper a {
  background-color: #ec7c70;
}
  
.footer-wrap .footer-social .follow-link-wrapper a:hover {
  background-color: #ffffff;
}

.footer-wrap .footer-social .follow-link-wrapper a:hover:before {
  color: #e84c3d;
}
