@media (max-width: 767px) {
  .footer-wrap {
    padding-bottom: 0px;  
    padding-top: 20px;
  }
  .footer-wrap .footer-social .follow-link-wrapper a {
    width: 62px;
    padding-top: 19px;
    height: 62px;
    margin-right: 3px;
    border-radius: 50%;
  }
  .footer-wrap .footer-social .follow-link-wrapper a:before {
    font-size: 1.5em;
  }
  .footer-wrap .footer-social .block-content {
    float: none;
    padding-top: 4px;
    padding-bottom: 95px;
    padding-top: 20px;
  }
  .footer-wrap .footer-menu ul li {
    display: inline-block;
  }
  .footer-wrap .footer-menu ul li a {
    font-size: 1.2em;
    padding: 1px 5px;
  }
}
