      <section id="price-pricetable-green" class = "price-pricetable-green price-pricetable">
         <div class = "container">
            <div class="row text-left">
               <h2 class="title">Choose Your Package</h2>
               <div class="desc price-desc">
                  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
               </div>
            </div>
            <div class="price-table">
               <div class="row price-box">
                  <div class = "price-header col-sm-3">
                     <h3>Basic</h3>
                     <div class = "price-cost">$30<span>/month</span></div>
                  </div>
                  <div class = "price-features col-sm-5">
                     <ul class = "price-features-list list-inline">
                        <li><i class="fa fa-check"></i>100MB Hosting Space</li>
                        <li><i class="fa fa-check"></i>Unlimited Bandwidth</li>
                        <li><i class="fa fa-check"></i>10 Email Address</li>
                        <li><i class="fa fa-check"></i>1 FTP Account</li>
                        <li><i class="fa fa-check"></i>Daily Backup</li>
                        <li><i class="fa fa-check"></i>PHP & MySQL</li>
                     </ul>
                  </div>
                  <div class = "price-buy col-sm-4">
                     <button class = "btn btn-default" type="button">Get Started now</button>
                  </div>
               </div>
               <div class="row price-box">
                  <div class = "price-header col-sm-3">
                     <h3>Plus</h3>
                     <div class = "price-cost">$50<span>/month</span></div>
                  </div>
                  <div class = "price-features col-sm-5">
                     <ul class = "price-features-list list-inline">
                        <li><i class="fa fa-check"></i>250MB Hosting Space</li>
                        <li><i class="fa fa-check"></i>Unlimited Bandwidth</li>
                        <li><i class="fa fa-check"></i>20 Email Address</li>
                        <li><i class="fa fa-check"></i>2 FTP Account</li>
                        <li><i class="fa fa-check"></i>Daily Backup</li>
                        <li><i class="fa fa-check"></i>PHP & MySQL</li>
                     </ul>
                  </div>
                  <div class = "price-buy col-sm-4">
                     <button class = "btn btn-default" type="button">Get Started now</button>
                  </div>
               </div>
               <div class="row price-box">
                  <div class = "price-header col-sm-3">
                     <h3>Advance</h3>
                     <div class = "price-cost">$70<span>/month</span></div>
                  </div>
                  <div class = "price-features col-sm-5">
                     <ul class = "price-features-list list-inline">
                        <li><i class="fa fa-check"></i>500MB Hosting Space</li>
                        <li><i class="fa fa-check"></i>Unlimited Bandwidth</li>
                        <li><i class="fa fa-check"></i>30 Email Address</li>
                        <li><i class="fa fa-check"></i>6 FTP Account</li>
                        <li><i class="fa fa-check"></i>Daily Backup</li>
                        <li><i class="fa fa-check"></i>PHP & MySQL</li>
                     </ul>
                  </div>
                  <div class = "price-buy col-sm-4">
                     <button class = "btn btn-default" type="button">Get Started now</button>
                  </div>
               </div>
               <div class="row price-box">
                  <div class = "price-header col-sm-3">
                     <h3>Pro</h3>
                     <div class = "price-cost">$90<span>/month</span></div>
                  </div>
                  <div class = "price-features col-sm-5">
                     <ul class = "price-features-list list-inline">
                        <li><i class="fa fa-check"></i>750MB Hosting Space</li>
                        <li><i class="fa fa-check"></i>Unlimited Bandwidth</li>
                        <li><i class="fa fa-check"></i>50 Email Address</li>
                        <li><i class="fa fa-check"></i>10 FTP Account</li>
                        <li><i class="fa fa-check"></i>Daily Backup</li>
                        <li><i class="fa fa-check"></i>PHP & MySQL</li>
                     </ul>
                  </div>
                  <div class = "price-buy col-sm-4">
                     <button class = "btn btn-default" type="button">Get Started now</button>
                  </div>
               </div>
            </div>
         </div>
      </section>