      <section id="team-red" class = "team-red team-section mobile-carousel">
         <div class = "container">
            <div class="team-header text-center row">
               <h2 class="col-xs-12 title">Meet Our Team</h2>
               <span class="col-sm-10 col-sm-offset-1 col-xs-12 desc">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nunc mauris, bibendum a metus nec, scelerisque fringilla purus. sed tempor arcu. Mauris consequat dui euismod dolor ultricies, sit amet faucibus risus mattis.
               </span>     
            </div>
            <div class = "visible-xs row mobile-carousel-controls" data-carousel-id = "team-red">
               <span class = "left"><i class="fa fa-angle-double-left"></i> Prev</span>
               <span class = "right">Next <i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="view-content row mobile-carousel-inner" role="listbox">
               <div class="col-md-6 item active">
                  <div class="team-inner row">
                     <div class="team-image col-xs-5"><img src="assets/images/team-red-ruby.jpg" alt="ruby" title="ruby" /></div>
                     <div class="team-social col-xs-1">
                        <div class= "team-social-inner">
                           <div class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                           <div><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></div>
                           <div><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></div>
                           <div class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                        </div>
                     </div>
                     <div class="team-content col-xs-6">
                        <span class="team-name">RubY</span>
                        <span class="team-designation">Chairman &amp; CEO</span>
                        <div class="team-body">Curabitur at nisl eu massa consequat egestas. Donec in erat efficitur, ultrices ex non, semper velit. Aliquam vestibulu mnis libero, eu elementum diam scelerisque a.</div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 item">
                  <div class="team-inner row">
                     <div class="team-image col-xs-5"><img src="assets/images/team-red-anna.jpg" alt="ruby" title="ruby" /></div>
                     <div class="team-social col-xs-1">
                        <div class= "team-social-inner">
                           <div class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                           <div><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></div>
                           <div><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></div>
                           <div class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                        </div>
                     </div>
                     <div class="team-content col-xs-6">
                        <span class="team-name">ANNA</span>
                        <span class="team-designation">Managing Director</span>
                        <div class="team-body">Curabitur at nisl eu massa consequat egestas. Donec in erat efficitur, ultrices ex non, semper velit. Aliquam vestibulu mnis libero, eu elementum diam scelerisque a.</div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 item">
                  <div class="team-inner row">
                     <div class="team-image col-xs-5"><img src="assets/images/team-red-maxwell.jpg" alt="ruby" title="ruby" /></div>
                     <div class="team-social col-xs-1">
                        <div class= "team-social-inner">
                           <div class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                           <div><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></div>
                           <div><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></div>
                           <div class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                        </div>
                     </div>
                     <div class="team-content col-xs-6">
                        <span class="team-name">MAXWELL</span>
                        <span class="team-designation">HR Manager</span>
                        <div class="team-body">Curabitur at nisl eu massa consequat egestas. Donec in erat efficitur, ultrices ex non, semper velit. Aliquam vestibulu mnis libero, eu elementum diam scelerisque a.</div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 item">
                  <div class="team-inner row">
                     <div class="team-image col-xs-5"><img src="assets/images/team-red-thomas.jpg" alt="ruby" title="ruby" /></div>
                     <div class="team-social col-xs-1">
                        <div class= "team-social-inner">
                           <div class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                           <div><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></div>
                           <div><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></div>
                           <div class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                        </div>
                     </div>
                     <div class="team-content col-xs-6">
                        <span class="team-name">THOMAS</span>
                        <span class="team-designation">Team Leader</span>
                        <div class="team-body">Curabitur at nisl eu massa consequat egestas. Donec in erat efficitur, ultrices ex non, semper velit. Aliquam vestibulu mnis libero, eu elementum diam scelerisque a.</div>
                     </div>
                  </div>
               </div>     
               <div class="col-md-6 item">
                  <div class="team-inner row">
                     <div class="team-image col-xs-5"><img src="assets/images/team-red-cameron.jpg" alt="ruby" title="ruby" /></div>
                     <div class="team-social col-xs-1">
                        <div class= "team-social-inner">
                           <div class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                           <div><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></div>
                           <div><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></div>
                           <div class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                        </div>
                     </div>
                     <div class="team-content col-xs-6">
                        <span class="team-name">CAMERON</span>
                        <span class="team-designation">Designer</span>
                        <div class="team-body">Curabitur at nisl eu massa consequat egestas. Donec in erat efficitur, ultrices ex non, semper velit. Aliquam vestibulu mnis libero, eu elementum diam scelerisque a.</div>
                     </div>
                  </div>
               </div>  
               <div class="col-md-6 item">
                  <div class="team-inner row">
                     <div class="team-image col-xs-5"><img src="assets/images/team-red-henry.jpg" alt="ruby" title="ruby" /></div>
                     <div class="team-social col-xs-1">
                        <div class= "team-social-inner">
                           <div class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></div>
                           <div><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></div>
                           <div><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></div>
                           <div class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></div>
                        </div>
                     </div>
                     <div class="team-content col-xs-6">
                        <span class="team-name">HENRY</span>
                        <span class="team-designation">Developer</span>
                        <div class="team-body">Curabitur at nisl eu massa consequat egestas. Donec in erat efficitur, ultrices ex non, semper velit. Aliquam vestibulu mnis libero, eu elementum diam scelerisque a.</div>
                     </div>
                  </div>
               </div>  			   
            </div>
         </div>
      </section>