      <section id="blog-orange" class = "blog-orange blog-section">
         <div class = "container">
            <div class = "view-header row text-left">
               <h2 class="title col-sm-12">LATEST BLOG POST</h2>
               <span class="blog-readmore col-xs-12"><a href = "blog.html" title = "blog" alt = "blog">VIEW ALL BLOGS</a></span> 
            </div>
            <div id="carousel-blog-orange" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carousel-blog-orange" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-blog-orange" data-slide-to="1"></li>
                  <li data-target="#carousel-blog-orange" data-slide-to="2"></li>
                  <li data-target="#carousel-blog-orange" data-slide-to="3"></li>
                  <li data-target="#carousel-blog-orange" data-slide-to="4"></li>
               </ol>
               <div class="view-content row carousel-inner" role="listbox">
                  <div class="col-xs-12 item active">
                     <div class="carousel-content">
                        <span class="row blog-title">Pellentesque velit lacus, blandit.</span>    
                        <span class="row author-date">Jan 04, 2015 &nbsp;by BEN HENRY</span>    
                        <span class="row descrip"> Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere eros et libero fermentum, volutpat ante placerat. Phasellus volutpat molestie congue. Donec in est ac dolor fermentum sodales eget mi. In erat massa, feugiat at elementum et, mattis sit amet nisi.</span>    
                        <span class="row view-more"><a class="readmore" href="http://www.drupalians.com/coder/node/283" title="read more">Read more</a></span>
                     </div>
                  </div>
                  <div class="col-xs-12 item" >
                     <div class="carousel-content">
                        <span class="row blog-title">Nulla id metus nisl. Sed vel tincid.</span>    
                        <span class="row author-date">Jan 03, 2015 &nbsp;by EDWARD</span>    
                        <span class="row descrip">Nulla id metus nisl. Sed vel tincid.
                        Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere eros et libero fermentum, volutpat ante placerat. Phasellus volutpat molestie congue. Donec in</span>    
                        <span class="row view-more"><a class="readmore" href="http://www.drupalians.com/coder/node/282" title="read more">Read more</a></span>
                     </div>
                  </div>
                  <div class="col-xs-12 item" >
                     <div class="carousel-content">
                        <span class="row blog-title">Pellentesque velit lacus, blandit.</span>    
                        <span class="row author-date">Jan 02, 2015 &nbsp;by BEN HENRY</span>    
                        <span class="row descrip"> Pellentesque velit lacus, blandit.
                        Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere eros et libero fermentum, volutpat ante placerat. Phasellus volutpat molestie congue. Donec in est</span>    
                        <span class="row view-more"><a class="readmore" href="http://www.drupalians.com/coder/node/281" title="read more">Read more</a></span>
                     </div>
                  </div>
                  <div class="col-xs-12 item" >
                     <div class="carousel-content">
                        <span class="row blog-title">Nulla id metus nisl. Sed vel tincid.</span>    
                        <span class="row author-date">Jan 01, 2015 &nbsp;by EDWARD</span>    
                        <span class="row descrip">Nulla id metus nisl. Sed vel tincid.
                        Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere eros et libero fermentum, volutpat ante placerat. Phasellus volutpat molestie congue. Donec in</span>    
                        <span class="row view-more"><a class="readmore" href="http://www.drupalians.com/coder/node/280" title="read more">Read more</a></span>
                     </div>
                  </div>
                  <div class="col-xs-12 item" >
                     <div class="carousel-content">
                        <span class="row blog-title">Pellentesque velit lacus, blandit.</span>    
                        <span class="row author-date">Jan 01, 2015 &nbsp;by BEN HENRY</span>    
                        <span class="row descrip">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris risus ipsum, sagittis at nulla ut, pharetra mattis elit. Integer sed mattis lorem. Suspendisse scelerisque ligula id ex volutpat, vel</span>    
                        <span class="row view-more"><a class="readmore" href="http://www.drupalians.com/coder/node/57" title="read more">Read more</a></span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>