	    <div class="stats-blue plugin-stats" id = "stats-blue">
			<div class="container">
				<div class="row text-center top-header">
					<h2 class="title col-xs-12">STATS ABOUT US</h2>
					<div class="description col-md-10 col-md-offset-1">Suspendisse fermentum facilisis turpis, sed ornare urna egestas ac. Proin hendrerit in mauris egestas hendrerit. Suspendisse vestibulum, 
					bero turpis rutrum massa, eu hendrerit sapien mauris sit amet nulla. Proin consectetur at diam vitae facilisis.</div>
				</div>
				<div class="row content-boxes">
					<div class="col-sm-3 col-xs-12 text-center content-box">
						<div class="header">
							<span class="icon-border"><i class="fa fa-thumbs-up"></i></span>
							<h4 class="title">486</h4>
						</div>
						<div class="description">Satisfied Clients</div>
					</div>
					<div class="col-sm-3 col-xs-12 text-center content-box">
						<div class="header">
							<span class="icon-border"><i class="fa fa-users"></i></span>
							<h4 class="title">550</h4>
						</div>
						<div class="description">Users</div>
					</div>
					<div class="col-sm-3 col-xs-12 text-center content-box">
						<div class="header">
							<span class="icon-border"><i class="fa fa-sitemap"></i></span>
							<h4 class="title">365</h4>
						</div>
						<div class="description">Finished Projects</div>
					</div>
					<div class="col-sm-3 col-xs-12 text-center content-box">
						<div class="header">
							<span class="icon-border"><i class="fa fa-clock-o"></i></span>
							<h4 class="title">986</h4>
						</div>
						<div class="description">Hours of Support</div>
					</div>
				</div>
			</div>
		</div>