@media (max-width: 767px) {
  header#navbar.scrolled .navbar {
    min-height: 0px; 
  }
  header#navbar .navbar-toggle {
    margin-top: 15px;
  }
  header#navbar.scrolled .navbar-toggle {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .navbar-brand {
    margin-top: 10px;
  }
  header#navbar .logo img {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  header#navbar .dropdown-menu > li > a:hover, 
  header#navbar .dropdown-menu > li > a:focus,
  header#navbar .navbar-nav > li > a:focus, 
  header#navbar .navbar-nav > li > a:hover  {
    border-bottom: none;
  }
  header#navbar .dropdown-menu>li>a:hover, 
  header#navbar .dropdown-menu>li>a:focus {
    background-image: none;
  }
  .header-brown-content .main-title-second {
    font-size: 4em;
  }
  .header-brown-content  .main-title-first {
    line-height: 1em;
    font-size: 2em;
  }
  .header-brown-content .main-block-inner .main-desc {
    padding: 0px 10%;
  }  
}

@media (min-width: 768px) and (max-width: 992px) {
  header#navbar.scrolled .navbar-nav > li > a {
    padding: 5px 8px;
    padding-top: 19px;
  }
}
