.footer-wrap .footer-copyright-menu{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}
.footer-wrap .footer-subscribe {
  padding-top: 46px;
  padding-bottom: 48px;
}
.footer-wrap .footer-subscribe .subscribe-form-submit{
  border: 2px solid;
}  
.footer-wrap .footer-subscribe .title-wrap {
  margin-bottom: 15px;  
}
.footer-wrap .footer-subscribe #contact_email {
  width: 66.66%;
  border-radius: 0px;
  font-size: 1em;
  font-weight: normal;
  float: left;
}
.footer-wrap .footer-copyright .footer-copyright-content {
  font-size: 1.3em;
  font-weight: normal;
}
.footer-wrap .footer-copyright .footer-copyright-content span{
  font-size: 0.70em;
  font-weight: normal;
  margin-left: 8px;
}
.footer-wrap .footer-subscribe .form-control-static {
  font-size: 1.7em;
  padding-top: 1px;
  font-weight: lighter;
} 
.footer-wrap .footer-subscribe .subscribe-form-submit {
  width: 33.33%;
  display:inline-block;
  border-radius: 1px;
  float: right;
  height: 46px;
  font-size: 1.1em;
  font-weight: normal;
}
.footer-wrap .footer-copyright {
  padding-top: 13px;
  padding-left: 0px;
  padding-bottom: 10px;
}
.footer-wrap .footer-menu {
  padding-right: 0px;
  margin-top: 6px;
}
.footer-wrap .footer-menu ul {
  float: right;
}
.footer-wrap .footer-menu ul li a{
  padding: 10px 10px;
  font-weight: normal;
  font-size: 1.1em;
  text-transform: uppercase;
}
.footer-wrap .footer-menu ul li a:hover,
.footer-wrap .footer-menu ul li a:focus {
  text-decoration: underline;
}
