@media (max-width: 767px) {
  .footer-wrap {
    padding-bottom: 30px;  
    padding-top: 6px;
  }
  .footer-wrap .footer-copyright {
    margin-top: 2px;
  }
  .footer-wrap  .footer-copyright {
    font-size: 1em;
  }
  .footer-wrap .footer-menu .menu-wrap {
    margin-top: 3px;
  }
  .footer-wrap .footer-menu ul li a {
    padding-bottom: 10px;
  }
}
