      <section id="team-blue" class = "team-blue team-section mobile-carousel">
         <div class = "container">
         <div class = "row">
            <div class="team-header text-left col-md-4 col-sm-12">
               <h2 class="col-xs-12 title">OUR TEAM</h2>
               <div class="col-xs-12 desc">
                  <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nunc mauris, bibendum a metus nec, scelerisque fringilla purus. Morbi in vestibulum augue, sed tempor arcu.  </strong></p>
                  <p>Mauris consequat dui euismod dolorrus ultricies, sit amet faucibus risus mattis. n sagittis non nunc et malesuada. Praesnt sed nisl dapibus, commodo.   </p>
                  <p>Cras at dignissim ex. Aenean tincidunt quam nec imperdiet feugiat. Nulla nec or tincidunt, sollicitudin magna id.   </p>
               </div>
            </div>
            <div class = "visible-xs col-xs-12 mobile-carousel-controls" data-carousel-id = "team-blue">
               <span class = "left"><i class="fa fa-angle-double-left"></i> Prev</span>
               <span class = "right">Next <i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="view-content col-md-8 col-sm-12 mobile-carousel-inner" role="listbox">
               <div class="col-sm-6 item active">
                  <div class="team-inner row">
                     <div class="team-image col-xs-4"><img src="assets/images/team-blue-ruby.jpg" alt="ruby" title="ruby" /></div>
                     <div class="team-content col-xs-8">
                        <span class="team-name">RubY</span>
                        <span class="team-designation">Chairman &amp; CEO</span>
                        <div class="team-body">Curabitur at nisl eu massa conse quat egestas. Donec in erat efficitur, ultrices ex non. </div>
                        <ul class = "team-social list-unstyled list-inline">
                           <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 item">
                  <div class="team-inner row">
                     <div class="team-image col-xs-4"><img src="assets/images/team-blue-anna.jpg" alt="maxwell" title="maxwell" /></div>
                     <div class="team-content col-xs-8">
                        <span class="team-name">ANNA</span>
                        <span class="team-designation">Managing Director</span>
                        <div class="team-body">Curabitur at nisl eu massa conse quat egestas. Donec in erat efficitur, ultrices ex non. </div>
                        <ul class = "team-social list-unstyled list-inline">
                           <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 item">
                  <div class="team-inner row">
                     <div class="team-image col-xs-4"><img src="assets/images/team-blue-maxwell.jpg" alt="maxwell" title="maxwell" /></div>
                     <div class="team-content col-xs-8">
                        <span class="team-name">MAXWELL</span>
                        <span class="team-designation">HR Manager</span>
                        <div class="team-body">Curabitur at nisl eu massa conse quat egestas. Donec in erat efficitur, ultrices ex non. </div>
                        <ul class = "team-social list-unstyled list-inline">
                           <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 item ">
                  <div class="team-inner row">
                     <div class="team-image col-xs-4"><img src="assets/images/team-blue-thomas.jpg" alt="thomas" title="thomas" /></div>
                     <div class="team-content col-xs-8">
                        <span class="team-name">THOMAS</span>
                        <span class="team-designation">Team Leader</span>
                        <div class="team-body">Curabitur at nisl eu massa conse quat egestas. Donec in erat efficitur, ultrices ex non. </div>
                        <ul class = "team-social list-unstyled list-inline">
                           <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 item">
                  <div class="team-inner row">
                     <div class="team-image col-xs-4"><img src="assets/images/team-blue-cameron.jpg" alt="cameron" title="cameron" /></div>
                     <div class="team-content col-xs-8">
                        <span class="team-name">CAMERON</span>
                        <span class="team-designation">Designer</span>
                        <div class="team-body">Curabitur at nisl eu massa conse quat egestas. Donec in erat efficitur, ultrices ex non. </div>
                        <ul class = "team-social list-unstyled list-inline">
                           <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 item">
                  <div class="team-inner row">
                     <div class="team-image col-xs-4"><img src="assets/images/team-blue-henry.jpg" alt="henry" title="henry" /></div>
                     <div class="team-content col-xs-8">
                        <span class="team-name">HENRY</span>
                        <span class="team-designation">Developer</span>
                        <div class="team-body">Curabitur at nisl eu massa conse quat egestas. Donec in erat efficitur, ultrices ex non. </div>
                        <ul class = "team-social list-unstyled list-inline">
                           <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                           <li><a class="Twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                           <li class="last"><a class="Google plus" href="https://plus.google.com/+cmsbots" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </section>