
/*--------------------------------------------------------------------------*/
/*------------  Begins : Stats / stats yellow  -----------------------------*/
/*--------------------------------------------------------------------------*/
/* CSS from jquery-asProgress.js library*/
@media (max-width: 768px) { 

.stat-stats-yellow {
  padding-top: 6px;
  padding-bottom: 6px;
}

.stat-stats-yellow  h2.title {
  font-size: 2em;
}

.stat-stats-yellow .stat-stat {
  padding-top: 17px;
  padding-bottom: 12px;
}

}
/*--------------------------------------------------------------------------*/
/*------------  End : Stats / stats yellow  --------------------------------*/
/*--------------------------------------------------------------------------*/
