      <header class="header-wrap header-menu-green" id = "header-menu-green">
         <nav id = "nav" class="navbar navbar-inverse navbar-scrolled" role="navigation">
            <div class="container nav-inner">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="navbar-header site-name-logo">
                        <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class = "col-xs-auto" href="index.html" title="Home" rel="home" id="logo">
                        <span class="logo"><img src="assets/images/header-menu-green-logo.png"/></span>
                        </a>
                     </div>
                     <div id="navigation" class="no-padding navbar top-navbar navbar-collapse collapse">
                        <div class="my-nav collapse navbar-collapse" id="collapse-navigation">
                           <ul class="nav navbar-nav navbar-right uppercase">
                              <li class = "li-first li-leaf"><a href="index.html" class="first leaf" title="Home">Home</a></li>
							  <li class = "li-leaf"><a href="about.html" class="leaf" title="About us">About us</a></li>
                              <li class = "li-leaf"><a href="services.html" class="leaf" title="Services">Services</a></li>
                              <li class = "li-leaf"><a href="portfolio.html" class="leaf">Portfolio</a></li>
                              <li class = "li-last li-leaf"><a href="contact.html" class="last leaf">Contact Us</a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- Navigation Menu Ends -->
                  </div>
               </div>
            </div>
         </nav>
		</header>