
/*--------------------------------------------------------------------------*/
/*------------  Begins : Clients / Clients dark grey  ----------------------*/
/*--------------------------------------------------------------------------*/
.client-dark-grey {
  padding-top: 80px;
  padding-bottom: 80px; 
  font-family: "roboto";
}

.client-dark-grey .clientele-item img {
  width: 157px;
  height: 75px;
  border: 1px solid;
}
/*--------------------------------------------------------------------------*/
/*------------  End : Clients / Clients dark grey  -------------------------*/
/*--------------------------------------------------------------------------*/
