      <section id="blog-green" class = "blog-green blog-section mobile-carousel">
         <div class = "container">
            <div class = "view-header row text-center">
               <h2 class="title col-sm-12">Latest Blog</h2>
               <span class="blog-readmore col-xs-12"><a href = "blog.html" title = "blog">view all blogs</a></span> 
            </div>
            <div class = "row visible-xs mobile-carousel-controls" data-carousel-id = "blog-green">
               <span class = "left"><i class="fa fa-angle-double-left"></i> Prev</span>
               <span class = "right">Next <i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="view-content mobile-carousel-inner text-left row" role="listbox">
               <div class="item active col-md-6 col-xs-12 col-sm-6 text-left blog-item well">
                  <div class="blog-box-item-inner">
                     <div class="row blog-date-title">
                        <span class="col-md-2 col-xs-2 col-sm-2 posted-date text-center">Feb<br>06</span>    
                        <span class="blog-title col-md-10  col-xs-10 col-sm-10">Pellentesque velit lacus, blandit.</span>
                     </div>
                     <span class="row blog-image"><a href="blog-detail.html"><img src="assets/images/blog-green-road-at-night.jpg"  alt="Road at night" /></a></span>    
                     <span class="row descrip"> Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere eros et libero fermentum, volutpat ante. <a href="blog-detail.html" class="views-more-link">Read More</a></span>    
                     <div class="row meta-info">
                        <span class="col-md-6  col-xs-6 col-sm-6 author"><i class="fa fa-user"></i> By: Ben Henry </span>    
                        <span class="col-xs-6 text-right comments-count"><i class="fa fa-comment-o"></i> comment(s) : 3</span>
                     </div>
                  </div>
               </div>
               <div class="item col-md-6 col-xs-12 col-sm-6 text-left blog-item well">
                  <div class="blog-box-item-inner">
                     <div class="row blog-date-title">
                        <span class="col-md-2 col-xs-2 col-sm-2 posted-date text-center">Feb<br>06</span>    
                        <span class="blog-title col-md-10  col-xs-10 col-sm-10">Nulla id metus nisl. Sed vel tincid.</span>
                     </div>
                     <span class="row blog-image"><a href="blog-detail.html"><img src="assets/images/blog-green-coffee-shop.jpg" alt="Coffee shop" /></a></span>    
                     <span class="row descrip"> Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere eros et libero fermentum, volutpat ante. <a href="blog-detail.html" class="views-more-link">Read More</a></span>    
                     <div class="row meta-info">
                        <span class="col-md-6  col-xs-6 col-sm-6 author"><i class="fa fa-user"></i> By: Edward </span>    
                        <span class="col-xs-6 text-right comments-count"><i class="fa fa-comment-o"></i> comment(s) : 3</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>