<div class = "breadcrumb-wrap">
  <div class="container">
    <div class = "row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><i class="fa fa-home pr-10"></i> <a href="index.html" title = "home">Home</a></li>
          <li class="active"> <i class="fa fa-angle-double-right"></i> Blog</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<section class="main-container blog-green blog-section">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h1 class="page-title">Blog</h1>
      </div>
      <!-- main end -->
    </div>
    <div class="view-content text-left row" role="listbox">
      <div class="item active col-md-6 col-xs-12 col-sm-6 text-left blog-item well">
        <div class="blog-box-item-inner">
          <div class="row blog-date-title">
            <span class="col-md-2 col-xs-2 col-sm-2 posted-date text-center">Feb<br>06</span>    
            <span class="blog-title col-md-10  col-xs-10 col-sm-10">Pellentesque velit lacus, blandit.</span>
          </div>
          <span class="row blog-image"><a href="blog-detail.html"><img src="assets/images/blog-green-road-at-night.jpg"  alt="Road at night" /></a></span>    
          <span class="row descrip"> Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere eros et libero fermentum, volutpat ante. <a href="blog-detail.html" class="views-more-link">Read More</a></span>    
          <div class="row meta-info">
            <span class="col-md-6  col-xs-6 col-sm-6 author"><i class="fa fa-user"></i> By: Ben Henry </span>    
            <span class="col-xs-6 text-right comments-count"><i class="fa fa-comment-o"></i> comment(s) : 3</span>
          </div>
        </div>
      </div>
      <div class="item col-md-6 col-xs-12 col-sm-6 text-left blog-item well">
        <div class="blog-box-item-inner">
          <div class="row blog-date-title">
            <span class="col-md-2 col-xs-2 col-sm-2 posted-date text-center">Feb<br>06</span>    
            <span class="blog-title col-md-10  col-xs-10 col-sm-10">Nulla id metus nisl. Sed vel tincid.</span>
          </div>
          <span class="row blog-image"><a href="blog-detail.html"><img src="assets/images/blog-green-coffee-shop.jpg" alt="Coffee shop" /></a></span>    
          <span class="row descrip"> Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere eros et libero fermentum, volutpat ante. <a href="blog-detail.html" class="views-more-link">Read More</a></span>    
          <div class="row meta-info">
            <span class="col-md-6  col-xs-6 col-sm-6 author"><i class="fa fa-user"></i> By: Edward </span>    
            <span class="col-xs-6 text-right comments-count"><i class="fa fa-comment-o"></i> comment(s) : 3</span>
          </div>
        </div>
      </div>
      <div class="item col-md-6 col-xs-12 col-sm-6 text-left blog-item well">
        <div class="blog-box-item-inner">
          <div class="row blog-date-title">
            <span class="col-md-2 col-xs-2 col-sm-2 posted-date text-center">Jan<br>06</span>    
            <span class="blog-title col-md-10  col-xs-10 col-sm-10">accusamus et iusto dignissimos ducimus.</span>
          </div>
          <span class="row blog-image"><a href="blog-detail.html"><img src="assets/images/blog-item-1-laptop.jpg" alt="Coffee shop" /></a></span>    
          <span class="row descrip"> Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere eros et libero fermentum, volutpat ante. <a href="blog-detail.html" class="views-more-link">Read More</a></span>    
          <div class="row meta-info">
            <span class="col-md-6  col-xs-6 col-sm-6 author"><i class="fa fa-user"></i> By: Edward </span>    
            <span class="col-xs-6 text-right comments-count"><i class="fa fa-comment-o"></i> comment(s) : 3</span>
          </div>
        </div>
      </div>
      <div class="item col-md-6 col-xs-12 col-sm-6 text-left blog-item well">
        <div class="blog-box-item-inner">
          <div class="row blog-date-title">
            <span class="col-md-2 col-xs-2 col-sm-2 posted-date text-center">Mar<br>06</span>    
            <span class="blog-title col-md-10  col-xs-10 col-sm-10">omnis dolor repellendus. Temporibus.</span>
          </div>
          <span class="row blog-image"><a href="blog-detail.html"><img src="assets/images/blog-item-2-sunglass.jpg" alt="Coffee shop" /></a></span>    
          <span class="row descrip">eros et libero fermentum, volutpat Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere  ante. <a href="blog-detail.html" class="views-more-link">Read More</a></span>    
          <div class="row meta-info">
            <span class="col-md-6  col-xs-6 col-sm-6 author"><i class="fa fa-user"></i> By: Edward </span>    
            <span class="col-xs-6 text-right comments-count"><i class="fa fa-comment-o"></i> comment(s) : 3</span>
          </div>
        </div>
      </div>
      <div class="item col-md-6 col-xs-12 col-sm-6 text-left blog-item well">
        <div class="blog-box-item-inner">
          <div class="row blog-date-title">
            <span class="col-md-2 col-xs-2 col-sm-2 posted-date text-center">Dec<br>12</span>    
            <span class="blog-title col-md-10  col-xs-10 col-sm-10">voluptatibus maiores alias consequatur aut.</span>
          </div>
          <span class="row blog-image"><a href="blog-detail.html"><img src="assets/images/blog-item-3-todo.jpg" alt="Coffee shop" /></a></span>    
          <span class="row descrip"> Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere eros et libero fermentum, volutpat ante. <a href="blog-detail.html" class="views-more-link">Read More</a></span>    
          <div class="row meta-info">
            <span class="col-md-6  col-xs-6 col-sm-6 author"><i class="fa fa-user"></i> By: Edward </span>    
            <span class="col-xs-6 text-right comments-count"><i class="fa fa-comment-o"></i> comment(s) : 3</span>
          </div>
        </div>
      </div>
      <div class="item col-md-6 col-xs-12 col-sm-6 text-left blog-item well">
        <div class="blog-box-item-inner">
          <div class="row blog-date-title">
            <span class="col-md-2 col-xs-2 col-sm-2 posted-date text-center">Oct<br>06</span>    
            <span class="blog-title col-md-10  col-xs-10 col-sm-10">et libero fermentum, volutpat</span>
          </div>
          <span class="row blog-image"><a href="blog-detail.html"><img src="assets/images/blog-item-4-women.jpg" alt="Coffee shop" /></a></span>    
          <span class="row descrip"> Nam condimentum lacus porta ipsum suscipit pharetra. Ut posuere eros et libero fermentum, volutpat ante. <a href="blog-detail.html" class="views-more-link">Read More</a></span>    
          <div class="row meta-info">
            <span class="col-md-6  col-xs-6 col-sm-6 author"><i class="fa fa-user"></i> By: Edward </span>    
            <span class="col-xs-6 text-right comments-count"><i class="fa fa-comment-o"></i> comment(s) : 3</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>