@media (max-width: 767px) {
  header#navbar .navbar-nav > li > a {
    border-right:none;
    padding: 10px;
  }
  header#navbar.scrolled  .navbar-nav>.open>a, 
  header#navbar.scrolled  .navbar-nav>.active>a {
    background-image: none;
   -webkit-box-shadow: none;
    box-shadow: none;
  }
  header#navbar .dropdown-menu>li>a,
  header#navbar .dropdown-menu>li>a:hover,
  header#navbar .dropdown-menu>li>a.active,
  header#navbar #navigation ul > li .active {
    padding: 10px;
    text-transform: uppercase;
  }
  header#navbar .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-image: none;
  }
  header#navbar.scrolled .navbar {
    min-height: 0px; 
  }
 
  header#navbar.scrolled .dropdown-menu>li>a:hover,
  .dropdown-menu>li>a:focus {
    background-image: none;
  }
  header#navbar.navbar-default .navbar-collapse {
    width: 90%;
    margin-left: 5%;
    padding: 0;
  }
  .header-purple-content {
    height: 480px;
  }
  .header-purple-content .main-title {
    font-size: 2.5em;
  }
  .header-purple-content .main-desc {
    font-size: 1.3em;
  }
  .header-purple-content  .email-field {
    width: 90%;
    margin-top: 0px;
    margin-left: 0px;
    display: inline;
    text-align: center;
  }
  .header-purple-content  .subscribe-button {
    width: 90%;
    margin-top: 25px;
    margin-left: 0px;
    padding: 0px 0px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  header#navbar .navbar-nav > li > a {
    padding: 0px 15px;
    margin-top: 7px;
  }
  header#navbar .logo img {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  header#navbar #navigation {
    margin-top: 0px;
  }
  header#navbar.scrolled  .navbar-nav > li > a {
    margin-top: 21px;
  }
}
