      <section id="price-pricetable-blue" class = "price-pricetable-blue price-pricetable">
         <div class = "container">
            <div class="row text-center">
               <h2 class="title">MEMBERSHIP PLANS</h2>
               <div class="col-sm-10 col-xs-12 desc price-desc col-sm-offset-1">
                  <p> Etiam aliquam nisi nisi, at auctor massa volutpat ac. Interdum et malesuada fames ac ante Suspendisse accumsan euismod nulla ut auctor. Suspendisse sit amet fermentum risus, in molestie quam. </p>
               </div>
            </div>
            <div class="row price-table text-center">
               <div class="col-md-3 col-sm-6 col-xs-12 price-box">
                  <div class = "price-header">
                     <h3>BASIC</h3>
                     <div class = "price-price">
                        <span class = "price-cost">$30<span> 00</span></span>
                        <span class = "price-duration">per month</span>
                     </div>
                  </div>
                  <div class = "price-features">
                     <ul class = "price-features-list list-unstyled">
                        <li><strong>100MB </strong>Disk Space</li>
                        <li><strong>200MB </strong>Monthly Traffic</li>
                        <li><strong>2 </strong>Subdomains</li>
                        <li><strong>5 </strong>Email Accounts</li>
                        <li>Webmail Support</li>
                     </ul>
                     <button class = "btn btn-default" type="button">SIGN UP</button>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6 col-xs-12 price-box">
                  <div class = "price-header">
                     <h3>CORPORATE</h3>
                     <div class = "price-price">
                        <span class = "price-cost">$50<span> 00</span></span>
                        <span class = "price-duration">per month</span>
                     </div>
                  </div>
                  <div class = "price-features">
                     <ul class = "price-features-list list-unstyled">
                        <li><strong>300MB </strong>Disk Space</li>
                        <li><strong>400MB </strong>Monthly Traffic</li>
                        <li><strong>5 </strong>Subdomains</li>
                        <li><strong>10 </strong>Email Accounts</li>
                        <li>Webmail Support</li>
                     </ul>
                     <button class = "btn btn-default" type="button">SIGN UP</button>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6 col-xs-12 price-box">
                  <div class = "price-header">
                     <h3>BUSINESS</h3>
                     <div class = "price-price">
                        <span class = "price-cost">$70<span> 00</span></span>
                        <span class = "price-duration">per month</span>
                     </div>
                  </div>
                  <div class = "price-features">
                     <ul class = "price-features-list list-unstyled">
                        <li><strong>1 GB </strong>Disk Space</li>
                        <li><strong>1 GB </strong>Monthly Traffic</li>
                        <li><strong>10 </strong>Subdomains</li>
                        <li><strong>25 </strong>Email Accounts</li>
                        <li>Webmail Support</li>
                     </ul>
                     <button class = "btn btn-default" type="button">SIGN UP</button>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6 col-xs-12 price-box">
                  <div class = "price-header">
                     <h3>PLATINUM</h3>
                     <div class = "price-price">
                        <span class = "price-cost">$90<span> 00</span></span>
                        <span class = "price-duration">per month</span>
                     </div>
                  </div>
                  <div class = "price-features">
                     <ul class = "price-features-list list-unstyled">
                        <li><strong>5 GB </strong>Disk Space</li>
                        <li><strong>Unlimited </strong>Monthly Traffic</li>
                        <li><strong>Unlimited </strong>Subdomains</li>
                        <li><strong>Unlimited </strong>Email Accounts</li>
                        <li>Webmail Support</li>
                     </ul>
                     <button class = "btn btn-default" type="button">SIGN UP</button>
                  </div>
               </div>
            </div>
         </div>
      </section>