      <header class="header-wrap header-yellow-menu" id = "header-yellow-menu">
         <nav id = "nav" class="navbar navbar-default navbar-scrolled" role="navigation">
            <div class="container nav-inner">
               <div class="row">
                  <div class="col-sm-12 dl-menuwrapper" id="dl-menu">
                     <div class="navbar-header site-name-logo">
                        <button type="button" class="navbar-toggle collapsed dl-trigger" data-toggle="collapse" data-target="#collapse-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class = "col-xs-auto" href="index.html" title="Home" rel="home" id="logo">
                        <span class="logo"><img src="assets/images/header-menu-yellow-logo.png"/></span>
                        </a>
                     </div>
                     <div id="navigation" class="no-padding navbar top-navbar">
                        <div class="my-nav collapse navbar-collapse" id="collapse-navigation">
                           <ul class="nav navbar-nav navbar-right uppercase navmenu">
 <<Dynamic-single-page-menu>>
                           </ul>
                        </div>
                     </div>
                     <!-- Navigation Menu Ends -->
                  </div>
               </div>
            </div>
         </nav>
      </header>