      <section id="team-dark-green" class = "team-dark-green team-section mobile-carousel">
         <div class = "container">
            <div class = "team-header">
               <h2 class="title text-left col-xs-12">Our Team</h2>
               <span class = "desc col-xs-12">Nulla vel molestie neque. Duis dapibus, lectus a magna libero cursus erat. Aliquam sodales, turpis nec tincidunt porttitor, mi justo malesuada lorem elit. 
               </span>
            </div>
            <div class = "visible-xs row mobile-carousel-controls" data-carousel-id = "team-dark-green">
               <span class = "left"><i class="fa fa-angle-double-left"></i> Previous</span>
               <span class = "right">Next <i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="view-content row mobile-carousel-inner" role="listbox">
               <div class="col-md-4 col-sm-6 item active">
                  <div class="team-inner">
                     <div class="team-image-social">
                        <span class="team-image"><img src="assets/images/team-dark-green-ruby.jpg" width="400" height="400" alt="ruby" title="ruby" /></span>
                        <div class="team-social">
                           <ul>
                              <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"></a></li>
                              <li><a class="Twitter" href="https://twitter.com/" target="_blank"></a></li>
                              <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"></a></li>
                              <li class="last"><a class="Google plus" href="https://plus.google.com/" target="_blank"></a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="team-name-designation">
                        <span class="team-name">RubY</span>
                        <span class="team-designation">Chairman &amp; CEO</span>
                     </div>
                     <span class="team-body">Curabitur at nisl eu massa consequat eges tas Donec in erat efficitur, ultrices ex non.</span>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 item">
                  <div class="team-inner">
                     <div class="team-image-social">
                        <span class="team-image"><img src="assets/images/team-dark-green-anna.jpg" width="400" height="400" alt="Anna" title="Anna" /></span>
                        <div class="team-social">
                           <ul>
                              <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"></a></li>
                              <li><a class="Twitter" href="https://twitter.com/" target="_blank"></a></li>
                              <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"></a></li>
                              <li class="last"><a class="Google plus" href="https://plus.google.com/" target="_blank"></a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="team-name-designation">
                        <span class="team-name">Anna</span>
                        <span class="team-designation">Managing Director</span>
                     </div>
                     <span class="team-body">Curabitur at nisl eu massa consequat eges tas Donec in erat efficitur, ultrices ex non.</span>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 item">
                  <div class="team-inner">
                     <div class="team-image-social">
                        <span class="team-image"><img src="assets/images/team-dark-green-maxwell.jpg" width="400" height="400" alt="maxwell" title="maxwell" /></span>
                        <div class="team-social">
                           <ul>
                              <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"></a></li>
                              <li><a class="Twitter" href="https://twitter.com/" target="_blank"></a></li>
                              <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"></a></li>
                              <li class="last"><a class="Google plus" href="https://plus.google.com/" target="_blank"></a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="team-name-designation">
                        <span class="team-name">Maxwell</span>
                        <span class="team-designation">HR Manager</span>
                     </div>
                     <span class="team-body">Curabitur at nisl eu massa consequat eges tas Donec in erat efficitur, ultrices ex non.</span>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 item">
                  <div class="team-inner">
                     <div class="team-image-social">
                        <span class="team-image"><img src="assets/images/team-dark-green-thomas.jpg" width="400" height="400" alt="thomas" title="thomas" /></span>
                        <div class="team-social">
                           <ul>
                              <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"></a></li>
                              <li><a class="Twitter" href="https://twitter.com/" target="_blank"></a></li>
                              <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"></a></li>
                              <li class="last"><a class="Google plus" href="https://plus.google.com/" target="_blank"></a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="team-name-designation">
                        <span class="team-name">Thomas</span>
                        <span class="team-designation">Team Leader</span>
                     </div>
                     <span class="team-body">Curabitur at nisl eu massa consequat eges tas Donec in erat efficitur, ultrices ex non.</span>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 item">
                  <div class="team-inner">
                     <div class="team-image-social">
                        <span class="team-image"><img src="assets/images/team-dark-green-cameron.jpg" width="400" height="400" alt="cameron" title="cameron" /></span>
                        <div class="team-social">
                           <ul>
                              <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"></a></li>
                              <li><a class="Twitter" href="https://twitter.com/" target="_blank"></a></li>
                              <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"></a></li>
                              <li class="last"><a class="Google plus" href="https://plus.google.com/" target="_blank"></a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="team-name-designation">
                        <span class="team-name">Cameron </span>
                        <span class="team-designation">Designer </span>
                     </div>
                     <span class="team-body">Curabitur at nisl eu massa consequat eges tas Donec in erat efficitur, ultrices ex non.</span>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 item">
                  <div class="team-inner">
                     <div class="team-image-social">
                        <span class="team-image"><img src="assets/images/team-dark-green-henry.jpg" width="400" height="400" alt="henry" title="henry" /></span>
                        <div class="team-social">
                           <ul>
                              <li class="first"><a class="Linkedin" href="https://in.linkedin.com/" target="_blank"></a></li>
                              <li><a class="Twitter" href="https://twitter.com/" target="_blank"></a></li>
                              <li><a class="Facebook" href="https://www.facebook.com/" target="_blank"></a></li>
                              <li class="last"><a class="Google plus" href="https://plus.google.com/" target="_blank"></a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="team-name-designation">
                        <span class="team-name">Henry</span>
                        <span class="team-designation">Developer</span>
                     </div>
                     <span class="team-body">Curabitur at nisl eu massa consequat eges tas Donec in erat efficitur, ultrices ex non.</span>
                  </div>
               </div>
            </div>
         </div>
      </section>