@media (max-width: 767px) {
  header#navbar .navbar-nav > li > a:focus, 
  header#navbar .navbar-nav > li > a:hover,
  header#navbar .navbar-nav li a:focus, 
  header#navbar .navbar-nav li a:hover {
    border-left: 5px solid #ffffff;
  }
  .header-header1-content .intro-text p {
    padding-left:10%;
    padding-right:10%;
  }
  .header-header1-content .main-title {
    margin-top: 80px;
    font-size: 3em;
  }
  .header-header1-content .main-buttons-wrap .main-download {
    margin-bottom: 30px;
  }
  .header-header1-content .main-buttons-wrap .main-download {
    float: none;
  }
  header#navbar .scrolled .navbar-nav > li > a:focus, 
  header#navbar .scrolled .navbar-nav > li > a:hover {
    background: none;
    border: none;
  }
  header#navbar .scrolled .navbar-toggle {
    margin-right: 0px;
    margin-top: 16px;
    margin-bottom: 5px;
  }
  header#navbar .scrolled .logo img {
    margin-top: 17px;
    margin-bottom: 0px;
  }
  header#navbar .scrolled .navbar {
    min-height: 0px; 
  }
  header#navbar .scrolled  .navbar-nav > li > a:focus, 
  header#navbar .scrolled  .navbar-nav > li > a:hover,
  header#navbar .scrolled  .navbar-nav li a:focus, 
  header#navbar .scrolled .navbar-nav li a:hover {
    border-left: 5px solid #ffffff;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  header#navbar .navbar-nav > li > a {
    padding: 5px 8px;
    padding-top: 19px;
  }
  .header-header1-content .main-buttons-wrap .main-download {
    margin-bottom: 20px;
  }
}
