      <header class="header-wrap header-lightblue-menu" id = "header-lightblue-menu">
         <nav id = "nav" class="navbar navbar-default navbar-scrolled" role="navigation">
            <div class="container nav-inner">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="navbar-header site-name-logo">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class = "col-xs-auto" href="index.html" title="Home" rel="home" id="logo">
                        <span class="logo"><img src="assets/images/header-menu-lightblue-logo.png"/></span>
                        </a>
                     </div>
                     <div id="navigation" class="no-padding navbar top-navbar">
                        <div class="my-nav collapse navbar-collapse" id="collapse-navigation">
                            <ul class="nav navbar-nav navbar-right uppercase">
                              <li class = "li-first li-leaf"><a href="index.html" class="first leaf" title="Home">Home</a></li>
                              <li class = "dropdown li-expanded li-dropdown-hover li-dropdown-toggle">
                                 <a href="about.html" class="expanded dropdown-hover dropdown-toggle" data-hover="dropdown">About Us</a>
                                 <ul class="dropdown-menu dl-submenu menudepth-1 multi-level">
                                    <li class = "dropdown li-first li-expanded li-dropdown-hover li-dropdown-toggle dropdown-submenu">
                                       <a href="inner-page-both-sidebar.html" class="first expanded dropdown-hover dropdown-toggle" data-hover="dropdown">With sidebars</a>
                                       <ul class="dropdown-menu dl-submenu menudepth-2">
                                          <li class = "li-first li-leaf  dropdown-submenu"><a href="inner-page-left-sidebar.html" class="first leaf" title="Left sidebar.">Left sidebar</a></li>
                                          <li class = "dropdown li-last li-expanded li-dropdown-hover li-dropdown-toggle dropdown-submenu">
                                             <a href="inner-page-right-sidebar.html" class="last expanded dropdown-hover dropdown-toggle" data-hover="dropdown">Right sidebar</a>
                                             <ul class="dropdown-menu dl-submenu menudepth-3">
                                                <li class = "li-first li-last li-leaf  dropdown-submenu"><a href="#" class="first last leaf">Third menu</a></li>
                                             </ul>
                                          </li>
                                       </ul>
                                    </li>
                                    <li class = "li-last li-leaf  dropdown-submenu"><a href="inner-page.html" class="last leaf">No sidebar</a></li>
                                 </ul>
                              </li>
                              <li class = "li-leaf"><a href="services.html" class="leaf" title="Services">Services</a></li>
                              <li class = "li-leaf"><a href="portfolio.html" class="leaf">Portfolio</a></li>
                              <li class = "li-last li-leaf"><a href="contact.html" class="last leaf">Contact Us</a></li>
                                <li class = "navbar-search">
                                    <form class="search-form" action="/search" method="post" accept-charset="UTF-8">
                                        <div class="container-inline form-wrapper" >
                                          <div class="control-group form-item form-type-textfield form-item-keys">
                                            <div class="controls"><input type="text" name="keys" value="" size="40" maxlength="255" class="form-text form-control"/></div>
                                          </div>
                                          <button class = "btn search-button-icon"><i class="fa fa-search"></i>
                                        </div>
									</form>
                                </li>
                            </ul>
                        </div>
                     </div>
                     <!-- Navigation Menu Ends -->
                  </div>
               </div>
            </div>
         </nav>
      </header>