      <section id="price-pricetable-sky-blue" class = "price-pricetable-sky-blue price-pricetable">
         <div class = "container">
            <div class="row text-left">
               <h2 class="title col-xs-12">Pricing</h2>
               <div class="col-xs-12 desc price-desc ">
                  <p> Aenean id tempor orci, quis tincidunt magna. Etiam iaculis posuere nunc, a ultrices mi bibendum in.Sed vel tellus eget libero pulvinar suscipit vitae et odio. Pellentesque volutpat mi at Proin vulputate velit eu mollis pulvinar. Nullam id leo vel est gravida iaculis. </p>
               </div>
            </div>
            <div class="row price-table">
               <div class=" col-sm-4 col-xs-12 price-box">
                  <div class = "price-header">
                     <h3>Basic Package</h3>
                     <span class = "price-plan-desc">Donec sit amet tristique magna.</span>
                  </div>
                  <div class = "price-price">
                     <span class = "price-cost">$30<span> /month</span></span>             
                     <button class = "btn btn-default" type="button">Buy Now</button>
                  </div>
                  <div class = "price-features">
                     <ul class = "price-features-list list-unstyled">
                        <li><i class="fa fa-cog"></i>&nbsp; Unlimited website Install</li>
                        <li><i class="fa fa-hdd-o"></i>&nbsp; 50 GB Storage</li>
                        <li><i class="fa fa-wifi"></i> 10 GB Bandwidth</li>
                        <li><i class="fa fa-clock-o"></i>&nbsp; Technical Support</li>
                        <li><i class="fa fa-heart"></i>&nbsp; Free Setup</li>
                        <li class = "price-about">Nullam sapien lacus, sollic loborti miitudin id ex sed, consecteturis fringilla diam. In quis risus</li>
                     </ul>
                  </div>
               </div>
               <div class=" col-sm-4 col-xs-12 price-box">
                  <div class = "price-header">
                     <h3>Standard Package</h3>
                     <span class = "price-plan-desc">Donec sit amet tristique magna.</span>
                  </div>
                  <div class = "price-price">
                     <span class = "price-cost">$50<span>/month</span></span>             
                     <button class = "btn btn-default" type="button">Buy Now</button>
                  </div>
                  <div class = "price-features">
                     <ul class = "price-features-list list-unstyled">
                        <li><i class="fa fa-cog"></i>&nbsp; Unlimited website Install</li>
                        <li><i class="fa fa-hdd-o"></i>&nbsp; 100 GB Storage</li>
                        <li><i class="fa fa-wifi"></i> 25 GB Bandwidth</li>
                        <li><i class="fa fa-clock-o"></i>&nbsp; Technical Support</li>
                        <li><i class="fa fa-heart"></i>&nbsp; Free Setup</li>
                        <li class = "price-about">Nullam sapien lacus, sollic loborti miitudin id ex sed, consecteturis fringilla diam. In quis risus</li>
                     </ul>
                  </div>
               </div>
               <div class=" col-sm-4 col-xs-12 price-box">
                  <div class = "price-header">
                     <h3>Premium Package</h3>
                     <span class = "price-plan-desc">Donec sit amet tristique magna.</span>
                  </div>
                  <div class = "price-price">
                     <span class = "price-cost">$100<span> /month</span></span>             
                     <button class = "btn btn-default" type="button">Buy Now</button>
                  </div>
                  <div class = "price-features">
                     <ul class = "price-features-list list-unstyled">
                        <li><i class="fa fa-cog"></i>&nbsp; Unlimited website Install</li>
                        <li><i class="fa fa-hdd-o"></i>&nbsp; Unlimited Storage</li>
                        <li><i class="fa fa-wifi"></i> Unlimited Bandwidth</li>
                        <li><i class="fa fa-clock-o"></i>&nbsp; Technical Support</li>
                        <li><i class="fa fa-heart"></i>&nbsp; Free Setup</li>
                        <li class = "price-about">Nullam sapien lacus, sollic loborti miitudin id ex sed, consecteturis fringilla diam. In quis risus</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>