<section id="stat-stats-green-sea" class = "stat-stats-wrap stat-stats-green-sea">
<div class = "container">
     <h2 class="title">Our Skill Stats</h2>
     <div class="row stat-desc">
   <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
</div>
<div class="row stat-stats">
   <div class="col-xs-12 col-sm-6 col-md-3 stat-stat">
      <div class="stat-inner">
         <div class="progress" role="progressbar" data-goal="-25" aria-valuemin="-100" aria-valuemax="0">
            <div class="progress__bar">
               <span class="stat-item-title">Wordpress</span>
               <span class="progress__label hidden"></span>
            </div>
            <span class="stat-running-number"></span>
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3 stat-stat">
      <div class="stat-inner">
         <div class="progress" role="progressbar" data-goal="-10" aria-valuemin="-100" aria-valuemax="0">
            <div class="progress__bar">
               <span class="stat-item-title">Drupal</span>
               <span class="progress__label hidden"></span>
            </div>
            <span class="stat-running-number"></span>
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3 stat-stat">
      <div class="stat-inner">
         <div class="progress" role="progressbar" data-goal="-50" aria-valuemin="-100" aria-valuemax="0">
            <div class="progress__bar">
               <span class="stat-item-title">HTML 5</span>
               <span class="progress__label hidden"></span>
            </div>
            <span class="stat-running-number"></span>
         </div>
      </div>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-3 stat-stat">
      <div class="stat-inner">
         <div class="progress" role="progressbar" data-goal="-20" aria-valuemin="-100" aria-valuemax="0">
            <div class="progress__bar">
               <span class="stat-item-title">CSS 3</span>
               <span class="progress__label hidden"></span>
            </div>
            <span class="stat-running-number"></span>
         </div>
      </div>
   </div>
</div>
  </div>

</section>