
/*--------------------------------------------------------------------------*/
/*------------  Begins : Blognews / Blog orange  ---------------------------*/
/*--------------------------------------------------------------------------*/
.blog-orange {
  font-family: 'Roboto'; 
  padding-top: 25px;
  padding-bottom: 25px;
}

.blog-orange  .title {
  font-size: 33px;
  font-weight: normal;
  margin-bottom: 4px;
}

.blog-orange  .view-header a {
  font-size: 15px;
  font-weight: normal;
}

.blog-orange  .blog-title  {
  font-size: 1.8em;
  font-weight: normal;
  display: block;
  padding-left: 15px;
  padding-top: 5px;
}

.blog-orange  .view-more a{
  display: inline-block;
  font-size: 17px;
  font-weight: lighter;
  margin: 0 auto;
  padding: 6px 10px;
  text-decoration: none;
}

.blog-orange  .author-date {
  display: block;
  padding-left: 15px;
  font-size: 1.1em;
  font-weight: normal;
  font-style: italic;
  padding-top: 2px;
}

.blog-orange  .descrip{
  display: block;
  padding-left: 15px;
  font-size: 1.2em;
  font-weight: normal;
  padding-top: 12px;
}

.blog-orange  .view-more {
  display: block;
  padding-left: 15px;
  padding-top: 15px;
}

.blog-orange  .carousel-indicators {
  bottom: 0;
  left: auto;
  right: 0;
  width: auto;
}

.blog-orange  .carousel-indicators li{
  border-radius: 0px;
  border: 1px solid;
}
/*--------------------------------------------------------------------------*/
/*------------  End : Blognews / Blog orange  ------------------------------*/
/*--------------------------------------------------------------------------*/
