.footer-navy-blue {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 45px;  
  padding-top: 25px;
}

.footer-navy-blue .footer-message-title h2 {
  font-size: 2.4em;
  font-weight: normal;
}

.footer-navy-blue .footer-menu .menu-wrap {
  text-align: center;
  display: inline-block;
  margin-top: 12px;
}
 
.footer-navy-blue .footer-menu ul li a {
  padding: 0px 15px;
  font-weight: normal;
  font-size: 1.4em;
}

.footer-navy-blue .footer-menu ul li a:hover,
.footer-navy-blue .footer-menu ul li a:focus {
  background: transparent;
  text-decoration: underline;
}
 
.footer-navy-blue  .footer-copyright {
  margin-top: 21px;
  font-size: 1.1em;
}

.footer-navy-blue  .footer-copyright a {
  font-weight: bold;
}