      <section id="testimonial-light-green" class = "testimonial-light-green testimonial-section mobile-carousel">
         <div class = "container">
            <h2 class="title text-center">Latest Testimonial</h2>
            <div class = "visible-xs mobile-carousel-controls" data-carousel-id = "testimonial-light-green">
               <span class = "left"><i class="fa fa-angle-double-left"></i> Previous</span>
               <span class = "right">Next <i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="view-content mobile-carousel-inner text-center" role="listbox">
               <div class="item active col-md-4 col-sm-6">
                  <div class="inner-box">
                     <span class="testi-image"> <img src="assets/images/testimonial-light-green-miller-walker.jpg" alt="Miller walker" title="Miller walker" /></span>    
                     <span class="testi-name">MILLER WALKER</span>
                     <span class="testi-designation">Founder CEO at VJ</span>
                     <span class="testi-body text-left"> Vestibulum gravida ante eget sollicit udin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante.</span>
                  </div>
               </div>
               <div class="item col-md-4 col-sm-6">
                  <div class="inner-box">
                     <span class="testi-image"><img src="assets/images/testimonial-light-green-lucy-joe.jpg" alt="Miller walker" title="Miller walker" /></span>    
                     <span class="testi-name">LUCY JOE</span>
                     <span class="testi-designation">Developer at Tech world</span>
                     <span class="testi-body text-left"> Vestibulum gravida ante eget sollicit udin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante.</span>
                  </div>
               </div>
               <div class="item col-md-4 col-sm-6">
                  <div class="inner-box">
                     <span class="testi-image"><img src="assets/images/testimonial-light-green-anna.jpg" alt="Miller walker" title="Miller walker" /></span>    
                     <span class="testi-name">ANNA</span>
                     <span class="testi-designation">Team leader at VMI</span>
                     <span class="testi-body text-left"> Vestibulum gravida ante eget sollicit udin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante.</span>
                  </div>
               </div>
            </div>
         </div>
      </section>