      <header class="header-wrap header-amic-menu" id = "header-amic-menu">
         <nav id = "nav" class="navbar navbar-default navbar-scrolled" role="navigation">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="navbar-header site-logo-name">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class = "col-xs-auto" href="index.html" title="Home" rel="home" id="logo">
                        <span class="logo"><img src="assets/images/header-amic-logo.png"/></span>
                        </a>
                     </div>
                     <div id="navigation" class="no-padding navbar top-navbar">
                        <div class="my-nav collapse navbar-collapse" id="collapse-navigation">
                           <ul class="nav navbar-nav navbar-right uppercase navmenu">
 <<Dynamic-single-page-menu>>
                        </div>
                     </div>
                     <!-- Navigation Menu Ends -->
                  </div>
               </div>
            </div>
         </nav>
      </header>
 <section class="home-slideshow header-amic-content" id = "header-amic-content">
         <div class="bkg-overlay"></div>
         <div class="intro-text container">
            <h1 class = "row main-title text-center">DIFFERENT COURSES AVAILABLE</h1>
            <p class = "row main-desc text-center">We provide expert teachers to improve your skills</p>
            <div class = "row content-block-group text-center">
               <div class = "col-sm-4 content-block text-center">
                  <span class = "block-icon-circle hidden-xs"><i class="fa fa-pencil-square-o"></i></span>
                  <h4 class = "block-text">Select Course</h4>
                  <span class = "block-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
               </div>
               <div class = "col-sm-4 content-block text-center">
                  <span class = "block-icon-circle hidden-xs"><i class="fa fa-bookmark"></i></span>
                  <h4 class = "block-text">Apply Now</h4>
                  <span class = "block-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
               </div>
               <div class = "col-sm-4 content-block text-center">
                  <span class = "block-icon-circle hidden-xs"><i class="fa fa-university"></i></span>
                  <h4 class = "block-text">Visit Us</h4>
                  <span class = "block-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
               </div>
            </div>
         </div>
      </section>