<section id="stat-stats-green" class = "stat-stats-wrap stat-stats-green">
 <div class = "container">
 <h2 class="title">OUR SPECIALTIES </h2> 
      <div class="row">
   <div class="col-sm-6 col-xs-12 stat-desc">
     <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like </p>
   </div>
   <div class="col-sm-6 col-xs-12 stat-stats">
      <div class="row stat-stat">
         <span class="col-xs-12 stat-label text-left">Branding</span>
         <div class="row stat-inner">
            <div class="col-xs-10 progress" role="progressbar" data-goal="-10" aria-valuemin="-100" aria-valuemax="0">
               <div class="progress__bar"><span class="progress__label"></span></div>
            </div>
            <div class="col-xs-2 stat-running-number"></div>
         </div>
      </div>
      <div class="row stat-stat">
         <span class="col-xs-12 stat-label text-left">Illustration</span>
         <div class="row stat-inner">
            <div class="col-xs-10 progress" role="progressbar" data-goal="-20" aria-valuemin="-100" aria-valuemax="0">
               <div class="progress__bar"><span class="progress__label"></span></div>
            </div>
            <div class="col-xs-2 stat-running-number"></div>
         </div>
      </div>
      <div class="row stat-stat">
         <span class="col-xs-12 stat-label text-left">HTML / CSS</span>
         <div class="row stat-inner">
            <div class="col-xs-10 progress" role="progressbar" data-goal="-15" aria-valuemin="-100" aria-valuemax="0">
               <div class="progress__bar"><span class="progress__label"></span></div>
            </div>
            <div class="col-xs-2 stat-running-number"></div>
         </div>
      </div>
      <div class="row stat-stat">
         <span class="col-xs-12 stat-label text-left">Web Design</span>
         <div class="row stat-inner">
            <div class="col-xs-10 progress" role="progressbar" data-goal="-5" aria-valuemin="-100" aria-valuemax="0">
               <div class="progress__bar"><span class="progress__label"></span></div>
            </div>
            <div class="col-xs-2 stat-running-number"></div>
         </div>
      </div>      
   </div>
 </div>
  </div>
</section>