      <section id="testimonial-dark-blue" class = "testimonial-dark-blue testimonial-section mobile-carousel">
         <div class = "container">
            <h2 class="title text-center">TESTIMONIAL</h2>
            <div class = "visible-xs mobile-carousel-controls" data-carousel-id = "testimonial-dark-blue">
               <span class = "left"><i class="fa fa-angle-double-left"></i> Previous</span>
               <span class = "right">Next <i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="view-content mobile-carousel-inner" role="listbox">
               <div class="item active col-sm-6">
                  <div class="inner-box">
                     <span class="testi-image col-xs-4"> <img src="assets/images/testimonial-dark-blue-miller-walker.jpg" width="220" height="146" alt="Miller walker" title="Miller walker" /></span>    
                     <span class="testi-textgroup col-xs-8">
                     <span class="testi-body">Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante. </span>
                     <span class="testi-name-designation">Miller walker <span> Founder CEO at VJ </span></span>
                     </span>
                  </div>
               </div>
               <div class="item col-sm-6">
                  <div class="inner-box">
                     <span class="testi-image col-xs-4"><img src="assets/images/testimonial-dark-blue-lucy-joe.jpg" width="220" height="146" alt="Lucy joe" title="Lucy joe" /></span>    
                     <span class="testi-textgroup col-xs-8">
                     <span class="testi-body">Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante. </span>
                     <span class="testi-name-designation">Lucy joe <span> Developer at Tech world </span></span>
                     </span>
                  </div>
               </div>
               <div class="item col-sm-6">
                  <div class="inner-box">
                     <span class="testi-image col-xs-4"><img src="assets/images/testimonial-dark-blue-anna.jpg" width="220" height="146" alt="Anna " title="Anna" /></span>    
                     <span class="testi-textgroup col-xs-8">
                     <span class="testi-body">Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante.</span>
                     <span class="testi-name-designation">Anna <span> Team leader at VMI </span></span>
                     </span>
                  </div>
               </div>
               <div class="item col-sm-6">
                  <div class="inner-box">
                     <span class="testi-image col-xs-4"><img src="assets/images/testimonial-dark-blue-john-cart.jpg" width="220" height="146" alt="john cart" title="john cart" /></span>    
                     <span class="testi-textgroup col-xs-8">
                     <span class="testi-body">Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante. </span>
                     <span class="testi-name-designation">John cart <span> Manager at World theme </span></span>
                     </span>
                  </div>
               </div>
               <div class="item col-sm-6">
                  <div class="inner-box">
                     <span class="testi-image col-xs-4"><img src="assets/images/testimonial-dark-blue-metus-blandit.jpg" width="220" height="146" alt="metus blandit" title="metus blandit" /></span>    
                     <span class="testi-textgroup col-xs-8">
                     <span class="testi-body">Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante.</span>
                     <span class="testi-name-designation">Metus blandit <span> Manager at Cado </span></span>
                     </span>
                  </div>
               </div>
               <div class="item col-sm-6">
                  <div class="inner-box">
                     <span class="testi-image col-xs-4"><img src="assets/images/testimonial-dark-blue-cras-molestie.jpg" width="220" height="146" alt=" cras_molestie" title=" cras_molestie" /></span>    
                     <span class="testi-textgroup col-xs-8">
                     <span class="testi-body">Vestibulum gravida ante eget sollicitudin pretium. Requrdr Crastrutmi ornare risus lectus, ac feugiat lorem blandit in. Sed sit ametu iaculis ante. </span>
                     <span class="testi-name-designation">Cras molestie <span> HR at BBM Tech </span></span>
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </section>