@media (max-width: 767px) {

.footer-green-medium {
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-green-medium .footer-blocks .title h2, .footer-green-medium .footer-blocks .block-title {
  margin-bottom: 0px;  
  margin-top: 10px; 
 }
 
.footer-green-medium .footer-message .block-content h4 {
    font-size: 1.2em;
}
 
.footer-green-medium .footer-copyright .block-content,
.footer-green-medium .footer-message .block-content {
  text-align: center;   
 }
 
 .footer-green-medium .footer-blocks .footer-menu .sidebar-menu {
  padding-top: 0px;
}

.footer-green-medium .footer-message {
  padding-bottom: 0px;
  padding-left: 30px;
}

.footer-green-medium .footer-blocks .footer-menus {
  text-align: center;
}

}