@media (max-width: 767px) {

.content-aqua-green .container {
  padding-top: 6px;
  padding-top: 6px;
}

.content-aqua-green .top-header .title {
  font-size: 2.6em;
}

.content-aqua-green .top-header .description {
  font-size: 1.1em;
  margin-bottom: 26px;
  padding-left: 15px;
}

.content-aqua-green .content-boxes .content-box .title {
  font-size: 1.6em;
  font-weight: normal;
  display: inline;
  padding-left: 5px;
}

.content-aqua-green .content-boxes .content-box i {
  font-size: 1.35em;
  margin: auto;
  padding-top: 5px;
}

.content-aqua-green .content-boxes .content-box .icon-circle {
  border-radius: 20px;
  display: inline-flex;
  height: 40px;
  width: 40px;
}

.content-aqua-green .content-boxes .content-box .description {
  font-size: 1.2em;
  text-align: justify;
  margin-top: 5px;
}

.content-aqua-green .content-boxes .content-box {
  padding-bottom: 30px;
  padding-left: 10px;
}

}
