<footer id = "footer-yellow" class = "footer-section section footer-yellow">
  <div class = "container footer-message text-center">
    <div class = "block-content footer-message-logo col-xs-12">
      <img class="responsive-image" alt = "logo" src="assets/images/footer-yellow-footer-logo.png" />
    </div>
    <div class = "block-content footer-message-content col-xs-12">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a sem sem.<br> Nunc mattis felis quis velit maximus consectetur.<br></p>
    </div>
  </div>
  <div class = "container footer-social text-center">
    <div class = "footer-follow-wrap">
      <div class = "block-content">
        <div class="follow-links clearfix site">
          <span class="follow-link-wrapper follow-link-wrapper-heading">FOLLOW US ON</span>
          <span class="follow-link-wrapper follow-link-wrapper-linkedin"><a href="https://www.linkedin.com/company/cmsbots-com" class="follow-link follow-link-linkedin follow-link-site" title="Follow us on linkedin"> </a></span>
          <span class="follow-link-wrapper follow-link-wrapper-twitter"><a href="https://twitter.com/cmsbots" class="follow-link follow-link-twitter follow-link-site" title="Follow us on twitter"> </a></span>
          <span class="follow-link-wrapper follow-link-wrapper-facebook"><a href="https://www.facebook.com/CMSbots" class="follow-link follow-link-facebook follow-link-site" title="Follow us on facebook"> </a></span>
          <span class="follow-link-wrapper follow-link-wrapper-googleplus"><a href="https://plus.google.com/+Cmsbots/posts" class="follow-link follow-link-googleplus follow-link-site" title="Follow us on google plus"> </a></span>					
        </div>
      </div>
    </div>
  </div>
</footer>