      <header class="header-wrap header-brown-menu" id ="header-brown-menu">
         <nav id = "nav" class="navbar navbar-default navbar-scrolled" role="navigation">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class = "col-xs-auto" href="index.html" title="Home" rel="home" id="logo">
                         <span class="logo"><img alt = "logo" src="assets/images/header-brown-logo.png"/></span>
                        </a>
                     </div>
                     <div id="navigation" class="no-padding navbar top-navbar">
                        <div class="my-nav collapse navbar-collapse" id="collapse-navigation">
                           <ul class="nav navbar-nav navbar-right uppercase navmenu">
                              <li class = "li-first li-leaf"><a href="index.html" class="first leaf" title="Home">Home</a></li>
                              <li class = "dropdown li-expanded li-dropdown-hover li-dropdown-toggle">
                                 <a href="about.html" class="expanded dropdown-hover dropdown-toggle" data-hover="dropdown">About Us</a>
                                 <ul class="dropdown-menu dl-submenu menudepth-1 multi-level">
                                    <li class = "dropdown li-first li-expanded li-dropdown-hover li-dropdown-toggle dropdown-submenu">
                                       <a href="inner-page-both-sidebar.html" class="first expanded dropdown-hover dropdown-toggle" data-hover="dropdown">WITH SIDEBARS</a>
                                       <ul class="dropdown-menu dl-submenu menudepth-2">
                                          <li class = "li-first li-leaf  dropdown-submenu"><a href="inner-page-left-sidebar.html" class="first leaf" title="sub sub menu 1">LEFT SIDEBAR</a></li>
                                          <li class = "dropdown li-last li-expanded li-dropdown-hover li-dropdown-toggle dropdown-submenu">
                                             <a href="inner-page-right-sidebar.html" class="last expanded dropdown-hover dropdown-toggle" data-hover="dropdown">RIGHT SIDEBAR</a>
                                             <ul class="dropdown-menu dl-submenu menudepth-3">
                                                <li class = "li-first li-last li-leaf dropdown-submenu"><a href="#" class="first last leaf">THIRD MENU</a></li>
                                             </ul>
                                          </li>
                                       </ul>
                                    </li>
                                    <li class = "li-last li-leaf dropdown-submenu"><a href="inner-page.html" class="last leaf">NO SIDEBAR</a></li>
                                 </ul>
                              </li>
                              <li class = "li-leaf"><a href="services.html" class="leaf" title="Services">Services</a></li>
                              <li class = "li-leaf"><a href="portfolio.html" class="leaf">Portfolio</a></li>
                              <li class = "li-last li-leaf"><a href="contact.html" class="last leaf">Contact Us</a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- Navigation Menu Ends -->
                  </div>
               </div>
            </div>
         </nav>
      </header>