      <header class="header-wrap header-brown-menu" id ="header-brown-menu">
         <nav id = "nav" class="navbar navbar-fixed-top navbar-scrolled" role="navigation">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class = "col-xs-auto" href="index.html" title="Home" rel="home" id="logo">
                         <span class="logo"><img alt = "logo" src="assets/images/header-brown-logo.png"/></span>
                        </a>
                     </div>
                     <div id="navigation" class="no-padding navbar top-navbar">
                        <div class="my-nav collapse navbar-collapse" id="collapse-navigation">
                           <ul class="nav navbar-nav navbar-right uppercase navmenu">
 <<Dynamic-single-page-menu>>
                           </ul>
                        </div>
                     </div>
                     <!-- Navigation Menu Ends -->
                  </div>
               </div>
            </div>
         </nav>
      </header>
      <section class="home-slideshow header-brown-content" id = "header-brown-content">
         <div class = "main-block container">
            <div class = "main-block-inner">
               <div class = "col-sm-12 main-title-first text-center">MORNING FIRST</div>
               <div class = "col-sm-12 main-title-second text-center">COFFEE</div>
               <p class = "col-sm-12 main-desc text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
               <div class = "col-sm-12 main-image-wrap text-center"></div>
            </div>
         </div>
      </section>