@media (max-width: 767px) {

.content-pink {
  padding-top: 4px;
  padding-bottom: 20px;
}

.content-pink .top-header {
  padding-left: 15px;
  padding-right: 15px;
}
  
.content-pink .top-header .title {
  font-size: 34px;
  margin-bottom: 2px;
}

.content-pink .top-header .description {
  margin-bottom: 15px;
}

.content-pink .content-boxes .content-box .title {
  margin-bottom: 5px;
 }
 
.content-pink .content-boxes .content-box .description {
  font-size: 1.06em;
  margin-bottom: 13px;
}

.content-pink .content-boxes .download-links {
  margin: 0;
  text-align: center;
  margin-bottom: 6px;
}

.content-pink .content-boxes .download-links .download-buttons {
  margin: 15px;
  padding-left: 0; 
  margin-left: 0px;
  width: 100%;
}

.content-pink .content-boxes .content-pink-video {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 56.25%; 
  overflow: hidden; 
}

.content-pink .content-boxes .content-box {
  padding-right: 15px;
}

.content-pink .content-pink-video iframe, 
.content-pink .content-pink-video object, 
.content-pink .content-pink-video embed { 
  height: 100%; 
  width: 90%;
  margin-left:5%;
}

}

@media (min-width: 768px) and (max-width: 992px) {

.content-pink .content-boxes .content-box {
  width: 100%;
}

.content-pink .content-boxes .content-pink-video {
  margin-left: 16px;
  margin-top: 29px;
  width: 100%;
  padding-bottom: 56.25%; 
  overflow: hidden; 
}

.content-pink .content-boxes .download-links .download-buttons {
  margin-right: 17px;
}

.content-pink .content-pink-video iframe, 
.content-pink .content-pink-video object, 
.content-pink .content-pink-video embed { 
  height: 100%; 
}

}

@media (min-width: 993px) and (max-width: 1200px) {

.content-pink .content-boxes .content-box {
  width: 60%;
}

.content-pink .content-boxes .content-box .description {
  font-size: 1.15em;
  margin-bottom: 8px;
}

.content-pink .content-boxes .download-links {
  margin-top: 0px;
}

.content-pink .content-boxes .download-links .download-buttons {
  font-size: 1.3em;
  margin-right: 10px;
  width: 170px;
  padding-left: 18px;
  padding-top: 9px;
}

}