      <section id="portfolio-diamond" class = "portfolio-diamond portfolio-section mobile-carousel">
         <div class = "container">
            <div class = "portfolio-header row text-center">
               <h2 class = "title ">PORTFOLIO</h2>
               <span class = "desc col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">Ut eu tortor eu mi sodales congue id quis mauris.</span>       
               <div class="col-xs-12 view-content diamond-menu">
                  <span class="filteritemall active">Show All</span>
                  <span class="filteritem"><i class="fa fa-circle"></i>Graphics</span>
                  <span class="filteritem"><i class="fa fa-circle"></i>Illustration</span>         
                  <span class="filteritem"><i class="fa fa-circle"></i>Web designs</span>      
                  <span class="filteritem"><i class="fa fa-circle"></i>Photography</span>         
               </div>
            </div>
            <div class="portfolio-content row portfolio-diamond-wrap text-center" id="diamond-container">
               <img class="diamonditem" src="assets/images/portfolio-diamond-couples-sitting.jpg" alt="portfolio item" data-categories="Graphics, Illustration, Photography" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-wood-forest.jpg" alt="portfolio item" data-categories="Web designs, Illustration" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-sea-shore.jpg" alt="portfolio item" data-categories="Photography, Web designs" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-sunset-van.jpg" alt="portfolio item" data-categories="Illustration, Photography" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-bridge-top.jpg" alt="portfolio item" data-categories="Illustration, Illustration" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-railway-track.jpg" alt="portfolio item" data-categories="Graphics, Illustration" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-old-car-inside.jpg" alt="portfolio item" data-categories="Graphics, Photography" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-walking-path.jpg" alt="portfolio item" data-categories="Graphics, Photography, Web designs" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-field-tractor.jpg" alt="portfolio item" data-categories="Illustration, Graphics" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-boating.jpg" alt="portfolio item" data-categories="Graphics, Photography" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-street-morning.jpg" alt="portfolio item" data-categories="Graphics, Photography" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-beach-road.jpg" alt="portfolio item" data-categories="Graphics, Photography" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-desert-jeep.jpg" alt="portfolio item" data-categories="Photography, Graphics" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-mountain-bird.jpg" alt="portfolio item" data-categories="Graphics, Web designs" />        
               <img class="diamonditem" src="assets/images/portfolio-diamond-street-night.jpg" alt="portfolio item" data-categories="Graphics, Photography, Illustration" />
            </div>
         </div>
      </section>