<div class = "breadcrumb-wrap">
  <div class="container">
    <div class = "row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><i class="fa fa-home pr-10"></i> <a href="index.html" title = "home">Home</a></li>
          <li class="active"> <i class="fa fa-angle-double-right"></i> Portfolio</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<section class="main-container portfolio-diamond portfolio-section ">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h1 class="page-title">Portfolio</h1>
      </div>
      <!-- main end -->
    </div>
    <div class = "portfolio-content row">
      <div class = "portfolio-header row text-center">
        <span class = "desc col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">Ut eu tortor eu mi sodales congue id quis mauris.</span>       
        <div class="col-xs-12 view-content diamond-menu">
          <span class="filteritemall active">Show All</span>
          <span class="filteritem"><i class="fa fa-circle"></i>Graphics</span>
          <span class="filteritem"><i class="fa fa-circle"></i>Illustration</span>         
          <span class="filteritem"><i class="fa fa-circle"></i>Web designs</span>      
          <span class="filteritem"><i class="fa fa-circle"></i>Photography</span>         
        </div>
      </div>
      <div class="portfolio-content row portfolio-diamond-wrap text-center" id="diamond-container">
        <img class="diamonditem" src="assets/images/portfolio-diamond-couples-sitting.jpg" alt="portfolio item" data-categories="Graphics, Illustration, Photography" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-wood-forest.jpg" alt="portfolio item" data-categories="Web designs, Illustration" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-sea-shore.jpg" alt="portfolio item" data-categories="Photography, Web designs" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-sunset-van.jpg" alt="portfolio item" data-categories="Illustration, Photography" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-bridge-top.jpg" alt="portfolio item" data-categories="Illustration, Illustration" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-railway-track.jpg" alt="portfolio item" data-categories="Graphics, Illustration" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-old-car-inside.jpg" alt="portfolio item" data-categories="Graphics, Photography" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-walking-path.jpg" alt="portfolio item" data-categories="Graphics, Photography, Web designs" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-field-tractor.jpg" alt="portfolio item" data-categories="Illustration, Graphics" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-boating.jpg" alt="portfolio item" data-categories="Graphics, Photography" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-street-morning.jpg" alt="portfolio item" data-categories="Graphics, Photography" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-beach-road.jpg" alt="portfolio item" data-categories="Graphics, Photography" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-desert-jeep.jpg" alt="portfolio item" data-categories="Photography, Graphics" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-mountain-bird.jpg" alt="portfolio item" data-categories="Graphics, Web designs" />        
        <img class="diamonditem" src="assets/images/portfolio-diamond-street-night.jpg" alt="portfolio item" data-categories="Graphics, Photography, Illustration" />
      </div>
    </div>
  </div>
</section>