/***************************************************************/
/****************   Content dark pink starts *******************/
/***************************************************************/

@media (min-width: 768px) and (max-width: 992px) {  
  .content-dark-pink .content-desc {
    line-height: 1.8em;
    font-size: 14px;
  }
  .content-dark-pink li {
    margin-bottom: 5px;
  }
}
/***************************************************************/
/****************   Content dark pink end    *******************/
/***************************************************************/
