body {
  font-family: roboto;
}
body.navbar-is-fixed-top .main-container {
  margin-top: 10px;
}
.region-navigation {
  max-width: 25%;
  padding-top: 4px;
}
.navbar-header {
  margin-top: 5px;
}
header#navbar nav{
  max-height: 50px;
  margin-top: 10px;
  margin-bottom: 0px;
}
header#navbar .navbar-nav>li  {
  margin-top: 15px;
}
header#navbar .navbar-nav>li>a {
  text-transform: none;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
header#navbar #navigation {
  border: none;
}
header#navbar .logo {
  margin-top: 0px;
}
header#navbar .logo img {
  height: 40px;
  width: auto;
}
header#navbar .navbar-toggle {
  border-radius: 0px; 
}
