.content-yellow {
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-yellow .top-header .title {
  font-size: 2.5em;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 3px;
}

.content-yellow .top-header .description {
  font-size: 1.2em;
  margin-bottom: 17px;
}

.content-yellow .content-boxes .content-box .icon {
  font-size: 2.9em;
  padding-top: 25px;
}

.content-yellow .content-boxes .content-box .title {
  font-size: 1.60em;
  font-weight: normal;
  display: inline;
  padding-left: 18px;
  padding-top: 0;
  vertical-align: super;
}

.content-yellow .content-boxes .content-box .description {
  font-size: 1.1em;
  padding-top: 2.8px;
}

.content-yellow .content-boxes .content-box {
  padding-bottom: 24px;
  padding-top: 20px;
  padding-left: 26px;
}