
/*--------------------------------------------------------------------------*/
/*------------  Begins : Stats / stats orange  -----------------------------*/
/*--------------------------------------------------------------------------*/
/* CSS from jquery-asProgress.js library*/
.stat-stats-orange  h2.title {
  color: #E4603A;
} 

.stat-stats-orange .stat-desc {
  color: #5B5B5B;
}

.stat-stats-orange .stat-stat .pie_progress__number {
  color: #000000;
}

.stat-stats-orange .stat-label {
  color: #4b4b4b;
} 
/*--------------------------------------------------------------------------*/
/*------------  End : Stats / stats orange  --------------------------------*/
/*--------------------------------------------------------------------------*/
