
/*--------------------------------------------------------------------------*/
/*------------  Begins : Contact / Contact Grey  ---------------------------*/
/*--------------------------------------------------------------------------*/
@media (max-width: 767px) {

.contact-grey {
  padding-top: 30px;
  padding-bottom: 33px;
}

.contact-grey h3{
  padding-bottom: 16px;
}

.contact-grey .form-group {
  margin-bottom: 30px;
}

.contact-grey .btn {
  width: 100%;
}

}
/*--------------------------------------------------------------------------*/
/*------------  End : Contact / Contact Grey  -----------------------------*/
/*--------------------------------------------------------------------------*/
