      <section id="portfolio-green" class = "portfolio-green portfolio-section mobile-carousel">
         <div class = "container">
            <div class = "portfolio-header row text-center">
               <h2 class = "title ">OUR CREATIVE WORKS</h2>
               <span class = "desc col-xs-8 col-xs-offset-2">Nunc posuere fermentum mattis. Nulla mattis arcu odio, elementum venenatis ligula ullamcorper sed. Praesent sagittis aliquet mi ac euismod. Donec at tincidunt neque, ac mattis massa.</span>
            </div>
            <div id="mixitup-options" class = "hidden-xs">
               <ul class="option-set clearfix col-sm-12">
                  <li class="filter" data-filter="*">All Designs</li>
                  <li class="filter" data-filter=".mix-graphics">Graphics</li>
                  <li class="filter" data-filter=".mix-illustration">Illustration</li>
                  <li class="filter" data-filter=".mix-web-designs">Web designs</li>
                  <li class="filter" data-filter=".mix-photography">Photography</li>
               </ul>
            </div>
            <div class = "visible-xs row mobile-carousel-controls" data-carousel-id = "portfolio-green">
               <span class = "left"><i class="fa fa-angle-double-left"></i> Prev</span>
               <span class = "right">Next <i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="view-content row mobile-carousel-inner" id="mixitup-container">
               <div class="mix col-md-3  col-sm-6 col-xs-12 item active mix-bootstrap mix-drupal mix-illustration" >
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-green-couples-sitting.jpg" alt="portfolio-street-night" title="portfolio street night" />
                     <span class = "portf-hover">
                     <span class = "portf-hover-inner">
                     <a href = "assets/images/portfolio-green-couples-sitting.jpg" class = "colorbox-image" title="portfolio street night">View large</a>
                     <a href = "#" target = "_blank">More info</i></a>
                     </span>  
                     </span>
                     </span>
                  </div>
               </div>
               <div class="mix col-md-3 col-sm-6 col-xs-12 item mix-graphics mix-web-designs">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-green-wood-forest.jpg" alt="portfolio-mountain-bird" title="mountain bird" />
                     <span class = "portf-hover">
                     <span class = "portf-hover-inner">
                     <a href = "assets/images/portfolio-green-wood-forest.jpg" class = "colorbox-image" title="portfolio street night">View large</a>
                     <a href = "#" target = "_blank">More info</i></a>
                     </span>  
                     </span>                     
                     </span>
                  </div>
               </div>
               <div class="mix col-md-3 col-sm-6 col-xs-12 item mix-drupal mix-wordpress">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-green-sea-shore.jpg" alt="portfolio-desert-jeep" title="desert jeep" />
                     <span class = "portf-hover">
                     <span class = "portf-hover-inner">
                     <a href = "assets/images/portfolio-green-sea-shore.jpg" class = "colorbox-image" title="portfolio street night">View large</a>
                     <a href = "#" target = "_blank">More info</i></a>
                     </span>  
                     </span>
                     </span>
                  </div>
               </div>
               <div class="mix col-md-3 col-sm-6 col-xs-12 item mix-html mix-photography">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-green-sunset-van.jpg" alt="portfolio-beach-road" title="beach road" />
                     <span class = "portf-hover">
                     <span class = "portf-hover-inner">
                     <a href = "assets/images/portfolio-green-sunset-van.jpg" class = "colorbox-image" title="portfolio street night">View large</a>
                     <a href = "#" target = "_blank">More info</i></a>
                     </span>  
                     </span> 
                     </span>
                  </div>
               </div>
               <div class="mix col-md-3 col-sm-6 col-xs-12 item mix-joomla mix-wordpress">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-green-bridge-top.jpg" alt="portfolio-street-morning" title="street morning" />
                     <span class = "portf-hover">
                     <span class = "portf-hover-inner">
                     <a href = "assets/images/portfolio-green-bridge-top.jpg" class = "colorbox-image" title="portfolio street night">View large</a>
                     <a href = "#" target = "_blank">More info</i></a>
                     </span>  
                     </span>                       
                     </span>
                  </div>
               </div>
               <div class="mix col-md-3 col-sm-6 col-xs-12 item mix-graphics mix-photography">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-green-railway-track.jpg" alt="portfolio-boating" title="boating" />
                     <span class = "portf-hover">
                     <span class = "portf-hover-inner">
                     <a href = "assets/images/portfolio-green-railway-track.jpg" class = "colorbox-image" title="portfolio street night">View large</a>
                     <a href = "#" target = "_blank">More info</i></a>
                     </span>  
                     </span>                     
                     </span>
                  </div>
               </div>
               <div class="mix col-md-3 col-sm-6 col-xs-12 item mix-illustration mix-joomla">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-green-old-car-inside.jpg" alt="portfolio-field-tractor" title="field tractor" />
                     <span class = "portf-hover">
                     <span class = "portf-hover-inner">
                     <a href = "assets/images/portfolio-green-old-car-inside.jpg" class = "colorbox-image" title="portfolio street night">View large</a>
                     <a href = "#" target = "_blank">More info</i></a>
                     </span>  
                     </span>                     
                     </span>
                  </div>
               </div>
               <div class="mix col-md-3 col-sm-6 col-xs-12 item mix-bootstrap mix-photography mix-web-designs">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-green-walking-path.jpg" alt="portfolio-walking-path" title="walking path" />
                     <span class = "portf-hover">
                     <span class = "portf-hover-inner">
                     <a href = "assets/images/portfolio-green-walking-path.jpg" class = "colorbox-image" title="portfolio street night">View large</a>
                     <a href = "#" target = "_blank">More info</i></a>
                     </span>  
                     </span>                       
                     </span>
                  </div>
               </div>
            </div>
         </div>
      </section>