      <section id="portfolio-hexagon" class = "portfolio-hexagon portfolio-section mobile-carousel">
         <div class = "container">
            <div class = "portfolio-header row text-center">
               <h2 class = "title ">OUR PROUD PORTFOLIO</h2>
               <span class = "desc col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12"> Ut eu tortor eu mi sodales congue id quis mauris. In quis magna sed velit ultricies volutpat vel eu diam.</span>
            </div>
            <div class = "visible-xs row mobile-carousel-controls" data-carousel-id = "portfolio-hexagon">
               <span class = "left"><i class="fa fa-angle-double-left"></i> Prev</span>
               <span class = "right">Next <i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="view-content row mobile-carousel-inner honeycombs" id="honeycombs-container">
               <div class="item comb active">
                  <img src="assets/images/portfolio-hexagon-couples-sitting.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-wood-forest.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-sea-shore.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-sunset-van.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-bridge-top.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-railway-track.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-old-car-inside.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-walking-path.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-field-tractor.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-boating.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-street-morning.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-beach-road.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-desert-jeep.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-mountain-bird.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
               <div class="item comb">
                  <img src="assets/images/portfolio-hexagon-street-night.jpg" alt="portfolio item" />
                  <span class="porti-demo"><a href = "#" title = "visit">visit</a></span>
               </div>
            </div>
         </div>
         </div>
      </section>