
/*--------------------------------------------------------------------------*/
/*------------  Begins : Clients / Clients Green  --------------------------*/
/*--------------------------------------------------------------------------*/
@media (max-width: 769px) {  

.client-green {
  padding-top: 10px;
  padding-bottom: 0px; 
}

.clientele-item {
  margin-bottom: 30px;
}

.client-green .container {
  text-align: center;
  width: 100%;
}

}

@media (min-width: 769px) and (max-width: 992px) { 

.client-green .container {
  text-align: center;
}

}
/*--------------------------------------------------------------------------*/
/*------------  End : Clients / Clients Green  -----------------------------*/
/*--------------------------------------------------------------------------*/
