    <section id="client-green" class="client-green clients-section clients-green-item">
      <div  class="container">
               <div class="view view-q-homeclientele-clients-green view-id-q_homeclientele_clients_green view-display-id-block view-dom-id-db14a04d715c1951537505d5843781ea">
                  <div class="view-header">
                     <h2 class="col-md-12 clientele-header text-center">
                        Our Clients
                     </h2>
                     <div class="col-md-12 clientele-desc text-center">
                        Vestibulum sodales id mi id luctus. Donec viverra pulvinar pulvinar. Donee sapien nibh, tincidunt a elit et, tempor imperdiet orci. Vestibulum dictum maximus est, a saga's nunc iaculis at. Donec ut turps lectus. 
                     </div>
                  </div>
                  <div class="view-content">
                     <div class="views-row views-row-1 col-md-3 clientele-item">
                        <img src="assets/images/clientele-canon.jpg" alt="canon" title="canon" height="69" width="205">    
                     </div>
                     <div class="views-row views-row-2 col-md-3 clientele-item">
                        <img src="assets/images/clientele-youtube.jpg" alt="youtube" title="youtube" height="69" width="205">    
                     </div>
                     <div class="views-row views-row-3 col-md-3 clientele-item">
                        <img src="assets/images/clientele-dropbox.jpg" alt="dropbox" title="dropbox" height="69" width="205">    
                     </div>
                     <div class="views-row views-row-4 col-md-3 clientele-item">
                        <img src="assets/images/clientele-vimeo.jpg" alt="vimeo" title="vimeo" height="69" width="205">    
                     </div>
                     <div class="views-row views-row-5 col-md-3 clientele-item">
                        <img src="assets/images/clientele-google.jpg" alt="google" title="google" height="69" width="205">    
                     </div>
                     <div class="views-row views-row-6 col-md-3 clientele-item">
                        <img src="assets/images/clientele-heineken.jpg" alt="heineken" title="heineken" height="69" width="205">    
                     </div>
                     <div class="views-row views-row-7 col-md-3 clientele-item">
                        <img src="assets/images/clientele-marlboro.jpg" alt="marlboro" title="marlboro" height="69" width="205">    
                     </div>
                     <div class="views-row views-row-8 col-md-3 clientele-item">
                        <img src="assets/images/clientele-danisco.jpg" alt="danisco" title="danisco" height="69" width="205">    
                     </div>
                  </div>
               </div>
      </div>
	  </section>