header#navbar .navbar-inverse .navbar-toggle,
header#navbar .navbar-inverse .navbar-toggle:hover{
  border-color: #3db683;
}
header#navbar.navbar-fixed-bottom,
header#navbar.navbar-fixed-top.affix-top,
header#navbar .navbar-toggle .icon-bar {
  background-color:#ffffff;
}
header#navbar .navbar-inverse .navbar-toggle:focus,
header#navbar .navbar-inverse,
header#navbar .navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: transparent;
}

header#navbar nav.affix,
header#navbar .navbar-inverse #navigation,
header#navbar .navbar-collapse,
header#navbar .dropdown-menu,
header#navbar.navbar-fixed-top.affix,
header#navbar.navbar-inverse,
header#navbar.navbar-inverse.navbar-fixed-top,
header#navbar.navbar-inverse.navbar-fixed-top.affix-top  {
  background-color:#3db683;
}
header#navbar .navbar-toggle,
header#navbar .navbar-toggle:hover,
header#navbar .navbar-inverse .navbar-toggle:hover {
  background-color:#4bd099;
}
header#navbar .navbar-inverse {
  border-color: transparent;
}

header#navbar .navbar-nav>li>a,
header#navbar .navbar-toggle,
.navbar-brand,
.navbar-inverse .navbar-brand,
header#navbar .dropdown-menu li a,
header#navbar .dropdown-menu li a:hover,
header#navbar.navbar-inverse .navbar-brand,
header#navbar.scrolled.navbar-fixed-top .navbar-brand{
  color: #ffffff;
}
.header-freshway-content .email-field {
  border-color: #ffffff;
}
header#navbar  .navbar-nav>li>a:focus, 
header#navbar  .navbar-nav>li>a:hover,
header#navbar .navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  color: #000000;
}
header#navbar .navbar-brand,
header#navbar .navbar-nav .dropdown li a:hover {
  color: #3db683;
}
@media (max-width: 767px) {
  dis.header#navbar .navbar-toggle {
    border-color: transparent;
    background-color: transparent;
  }
  header#navbar .navbar-nav > li > a:hover,
  header#navbar .dropdown-menu>li>a,
  header#navbar .dropdown-menu>li>a:hover,
  header#navbar .dropdown-menu>li>a.active,
  header#navbar #navigation ul > li .active{
    color:#ffffff; 
  }
  header#navbar .navbar-nav>li>a:focus, 
  header#navbar .navbar-nav>li>a:hover {
    color: #000000;
  }
  header#navbar .nav .open>a, 
  .nav .open>a:hover, 
  .nav .open>a:focus {
    background-color: #eeeeee;
    border-color: #ffffff;
  }
  header#navbar .navbar-inverse .navbar-toggle:focus,
  header#navbar ul.navbar-nav {
    background-color: #3db683;
    border-color: #3db683;
  }
}

