      <footer id = "footer-blue-medium" class = "footer-section section footer-blue-medium">
         <div class = "footer-message">
            <div class = "container">
                  <div class = "block-title footer-message-title text-center row">
                     <h2 class = "title">CMS Bots</h2>
                  </div>
                  <div class = "block-content footer-message-content text-center row">
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </div>
            </div>
         </div>
         <div class = "footer-copyright-menu text-center">
            <div class = "container">
               <div class = "row">
                  <div class = "col-sm-6 footer-copyright text-left">
                        <div class = "block-content footer-copyright-content">
						&#169; Copyright 2015  CMS Bots
                        </div>
                  </div>
                  <div class = "col-sm-6 footer-menu text-right hidden-xs">
                     <ul id="secondary-menu" class="links nav navbar-nav pull-right">
                        <li class="first leaf"><a href="#" title="About us">About us</a></li>
						<li class="leaf"><a href="#" title="Blog">Blog</a></li>
						<li class="leaf"><a href="#" title="Legal Terms">Legal Terms</a></li>
						<li class="leaf"><a href="#" title="Contact us">Contact us</a></li>
						<li class="last leaf"><a href="#" title="Help">Help</a></li>
                     </ul>
                  </div>
               </diV>
            </div>
         </div>
      </footer>