.footer-wrap {
  padding-bottom: 50px;
  padding-top: 50px;
  font-family: roboto;
}  
.footer-wrap .footer-follow-wrap {
  display: inline-block;
}
.footer-wrap .footer-social .block-content {
  height: 40px;
}
.footer-wrap .inline {
  display: block;
  float: left;
}
.footer-wrap .footer-social .follow-link-wrapper-heading {
  font-size: 1.1em;
  font-size: normal;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;
  display: inline-block;
}
.footer-wrap .footer-social .follow-link-wrapper a{
  padding-left: 0;
  width: 40px;
  text-align: center;
  padding-top: 8px;
  background: none;
  height: 40px;
  border-left: 1px solid; 
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 9px;  
  padding-top: 14px;
}
.footer-wrap .footer-social .follow-link-wrapper a:before{
  font-size: 1.4em;
  font-weight: bold;
  font-family: FontAwesome;
}
.footer-wrap .footer-social .follow-link-wrapper-facebook a:before{
  content: "\f09a";
}
.footer-wrap .footer-social .follow-link-wrapper-googleplus a:before{
  content: "\f0d5";
}
.footer-wrap .footer-social .follow-link-wrapper-twitter a:before{
  content: "\f099";
}
.footer-wrap .footer-social .follow-link-wrapper-linkedin a:before{
  content: "\f0e1";
}
.footer-wrap .footer-message {
  margin-bottom: 6px;  
}
.footer-wrap .footer-message .footer-message-content {
  font-size: 1.2em;
  font-weight: normal;
  margin-top: 15px;
}  
