
/*--------------------------------------------------------------------------*/
/*------------  Begins : Stats / stats yellow  -----------------------------*/
/*--------------------------------------------------------------------------*/
/* CSS from jquery-asProgress.js library*/
.stat-stats-yellow  h2.title {
  color: #E97F19;
}

.stat-stats-yellow .stat-label {
  background-color :#424242;
  color: #ffffff;
}

.stat-stats-yellow .stat-number {
  background-color: #E1E1E1;
}
/*--------------------------------------------------------------------------*/
/*------------  End : Stats / stats yellow  --------------------------------*/
/*--------------------------------------------------------------------------*/
