      <section id="portfolio-blue" class = "portfolio-blue portfolio-section mobile-carousel">
         <div class = "container">
            <div id="mixitup-options" class = "hidden-xs">
               <ul class="option-set clearfix col-sm-12">
                  <li class="filter" data-filter=".mix">All Designs</li>
                  <li class="filter" data-filter=".mix-graphics">Graphics</li>
                  <li class="filter" data-filter=".mix-illustration">Illustration</li>
                  <li class="filter" data-filter=".mix-web-designs">Web designs</li>
                  <li class="filter" data-filter=".mix-photography">Photography</li>
               </ul>
            </div>
            <div class = "visible-xs row mobile-carousel-controls" data-carousel-id = "portfolio-blue">
               <span class = "left"><i class="fa fa-angle-double-left"></i> Prev</span>
               <span class = "right">Next <i class="fa fa-angle-double-right"></i></span>
            </div>
            <div class="view-content row mobile-carousel-inner" id="mixitup-container">
               <div class="mix col-sm-6 col-xs-12 item active mix-bootstrap mix-drupal mix-illustration" >
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-blue-couple-sitting.jpg" alt="portfolio-couple-sitting" title="portfolio couple sitting" /></span>
                     <span class="portf-title"><a href="blog-detail.html">Vitae fringilla massa tempus</a></span>
                     <span class="portf-desc">
                     Quisque dictum maximus magna, quis ullamcorper libero molestie non. Liberoil suspendisse mi tellus, vehicula sit amet mattis vitae, consequat non Vivamusrli ullamcorper consectetur leo, ut iaculis est lobortis vitae.</span>
                  </div>
               </div>
               <div class="mix col-sm-6 col-xs-12 item mix-graphics mix-web-designs">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-blue-wood-forest.jpg" alt="portfolio-wood-forest" title="wood forest" /></span>
                     <span class="portf-title"><a href="blog-detail.html">Sed volutpat mi nunc</a></span>
                     <span class="portf-desc">
                     Quisque dictum maximus magna, quis ullamcorper libero molestie non. Liberoil suspendisse mi tellus, vehicula sit amet mattis vitae, consequat non Vivamusrli ullamcorper consectetur leo, ut iaculis est lobortis vitae.</span>
                  </div>
               </div>
               <div class="mix col-sm-6 col-xs-12 item mix-drupal mix-wordpress">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-blue-sea-shore.jpg" alt="portfolio-sea-shore" title="sea shore" /></span>
                     <span class="portf-title"><a href="blog-detail.html">Duis sagittis magna non</a></span>
                     <span class="portf-desc">
                     Quisque dictum maximus magna, quis ullamcorper libero molestie non. Liberoil suspendisse mi tellus, vehicula sit amet mattis vitae, consequat non Vivamusrli ullamcorper consectetur leo, ut iaculis est lobortis vitae.</span>
                  </div>
               </div>
               <div class="mix col-sm-6 col-xs-12 item mix-html mix-photography">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-blue-sunset-van.jpg" alt="portfolio-sunset-van" title="sunset vans" /></span>
                     <span class="portf-title"><a href="blog-detail.html">Etiam vestibulum sapien quis</a></span>
                     <span class="portf-desc">
                     Quisque dictum maximus magna, quis ullamcorper libero molestie non. Liberoil suspendisse mi tellus, vehicula sit amet mattis vitae, consequat non Vivamusrli ullamcorper consectetur leo, ut iaculis est lobortis vitae.</span>
                  </div>
               </div>
               <div class="mix col-sm-6 col-xs-12 item mix-joomla mix-wordpress">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-blue-bridge-top.jpg" alt="portfolio-street-morning" title="street morning" /></span>
                     <span class="portf-title"><a href="blog-detail.html">Curabitur condimentum maximus.</a></span>
                     <span class="portf-desc">
                     Quisque dictum maximus magna, quis ullamcorper libero molestie non. Liberoil suspendisse mi tellus, vehicula sit amet mattis vitae, consequat non Vivamusrli ullamcorper consectetur leo, ut iaculis est lobortis vitae.</span>
                  </div>
               </div>
               <div class="mix col-sm-6 col-xs-12 item mix-graphics mix-photography">
                  <div class="inner-box ">
                     <span class="portf-image"><img src="assets/images/portfolio-blue-railway-track.jpg" alt="portfolio-boating" title="boating" /></span>
                     <span class="portf-title"><a href="blog-detail.html">Ut id volutpat ipsum</a></span>
                     <span class="portf-desc">
                     Quisque dictum maximus magna, quis ullamcorper libero molestie non. Liberoil suspendisse mi tellus, vehicula sit amet mattis vitae, consequat non Vivamusrli ullamcorper consectetur leo, ut iaculis est lobortis vitae.</span>
                  </div>
               </div>
            </div>
         </div>
      </section>