@media (max-width: 767px) {

.content-purple {
  padding-top: 7px;
  padding-bottom: 7px;
}

.content-purple .top-header .title {
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.content-purple .top-header .description {
  font-size: 1.14em;
  margin-bottom: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.content-purple .content-boxes .content-box .title {
  font-size: 1.40em;
  margin-bottom: 6px;
}

.content-purple .content-boxes .content-box .description {
  font-size: 1.10em;
  margin-bottom: 11px;
}

}
