      <section id="testimonial-navy-blue" class = "testimonial-navy-blue testimonial-section">
         <div class = "container">
            <div id="carousel-testimonial-navy-blue" class="carousel carousel-testimonial-navy-blue slide text-center" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carousel-testimonial-navy-blue" data-slide-to="0"></li>
                  <li data-target="#carousel-testimonial-navy-blue" data-slide-to="1"></li>
                  <li data-target="#carousel-testimonial-navy-blue" data-slide-to="2"></li>
                  <li data-target="#carousel-testimonial-navy-blue" data-slide-to="3"></li>
                  <li data-target="#carousel-testimonial-navy-blue" data-slide-to="4"></li>
                  <li data-target="#carousel-testimonial-navy-blue" data-slide-to="5"></li>
               </ol>
               <div class="view-content row carousel-inner" role="listbox">
                  <div class="active item row">
                     <div class="testi-wrap">
                        <span class="col-xs-12 testi-image">
                        <span class="testi-circle">
                        <img src="http://q2test.s3.amazonaws.com/image/theme/asset/testimonial-navy-blue-miller-walker.jpg" width="220" height="146" alt="Miller walker" title="Miller walker" /></span>
                        </span>
                        <span class="col-xs-12 testi-body">RiieQuisque euismod, dolor eu porta luctus, ipsum nunc consectetur quam, non porttitor tortor tortori uisreget dolor. Ut imperdiet, purus in bibendum mollis, quam purus cursus orci, et auctor purus lorem niec velit. Nam rutrum nisl eu lacus euismod luctus. Nullam venenatis felis sit amet liberomuvumituv ullamcorper, in aliquam lectus aliquam. Quisque at viverra lorem, at tincidunt ipsum. Morbi commodo odio vel ornare accumsan. Mauris quis euismod augue.</span>
						<span class="col-xs-12 testi-name">Miller walker</span>
                        <span class="col-xs-12 testi-designation">Founder CEO at VJ</span>
                     </div>
					 <div class="col-xs-4 border-line"></div>
                  </div>
                  <div class="item row">
                     <div class="testi-wrap">
                        <span class="col-xs-12 testi-image"><span class="testi-circle"><img src="http://q2test.s3.amazonaws.com/image/theme/asset/testimonial-navy-blue-lucy-joe.jpg" width="220" height="146" alt="Lucy joe" title="Lucy joe" /></span></span>
                        <span class="col-xs-12 testi-body">RiieQuisque euismod, dolor eu porta luctus, ipsum nunc consectetur quam, non porttitor tortor tortori uisreget dolor. Ut imperdiet, purus in bibendum mollis, quam purus cursus orci, et auctor purus lorem niec velit. Nam rutrum nisl eu lacus euismod luctus. Nullam venenatis felis sit amet liberomuvumituv ullamcorper, in aliquam lectus aliquam. Quisque at viverra lorem, at tincidunt ipsum. Morbi commodo odio vel ornare accumsan. Mauris quis euismod augue.</span>
                        <span class="col-xs-12 testi-name">Lucy joe</span>
                        <span class="col-xs-12 testi-designation">Developer at Tech world</span>
						<div class="col-xs-4 border-line"></div>
                     </div>
                  </div>
                  <div class="item row">
                     <div class="testi-wrap">
                        <span class="col-xs-12 testi-image"><span class="testi-circle"><img src="http://q2test.s3.amazonaws.com/image/theme/asset/testimonial-navy-blue-anna.jpg" width="220" height="146" alt="Anna " title="Anna" /></span></span>
                        <span class="col-xs-12 testi-body">RiieQuisque euismod, dolor eu porta luctus, ipsum nunc consectetur quam, non porttitor tortor tortori uisreget dolor. Ut imperdiet, purus in bibendum mollis, quam purus cursus orci, et auctor purus lorem niec velit. Nam rutrum nisl eu lacus euismod luctus. Nullam venenatis felis sit amet liberomuvumituv ullamcorper, in aliquam lectus aliquam. Quisque at viverra lorem, at tincidunt ipsum. Morbi commodo odio vel ornare accumsan. Mauris quis euismod augue.</span>
                        <span class="col-xs-12 testi-name">Anna</span>
                        <span class="col-xs-12 testi-designation">Team leader at VMI</span>
						<div class="col-xs-4 border-line"></div>
                     </div>
                  </div>
                  <div class="item row">
                     <div class="testi-wrap">
                        <span class="col-xs-12 testi-image"><span class="testi-circle"><img src="http://q2test.s3.amazonaws.com/image/theme/asset/testimonial-navy-blue-john-cart.jpg" width="220" height="146" alt="john cart" title="john cart" /></span></span>
                        <span class="col-xs-12 testi-body">RiieQuisque euismod, dolor eu porta luctus, ipsum nunc consectetur quam, non porttitor tortor tortori uisreget dolor. Ut imperdiet, purus in bibendum mollis, quam purus cursus orci, et auctor purus lorem niec velit. Nam rutrum nisl eu lacus euismod luctus. Nullam venenatis felis sit amet liberomuvumituv ullamcorper, in aliquam lectus aliquam. Quisque at viverra lorem, at tincidunt ipsum. Morbi commodo odio vel ornare accumsan. Mauris quis euismod augue.</span>
                        <span class="col-xs-12 testi-name">John cart</span>
                        <span class="col-xs-12 testi-designation">Manager at World theme</span>
						<div class="col-xs-4 border-line"></div>
                     </div>
                  </div>
                  <div class="item row">
                     <div class="testi-wrap">
                        <span class="col-xs-12 testi-image"><span class="testi-circle"><img src="http://q2test.s3.amazonaws.com/image/theme/asset/testimonial-navy-blue-metus-blandit.jpg" width="220" height="146" alt="metus blandit" title="metus blandit" /></span></span>
                        <span class="col-xs-12 testi-body">RiieQuisque euismod, dolor eu porta luctus, ipsum nunc consectetur quam, non porttitor tortor tortori uisreget dolor. Ut imperdiet, purus in bibendum mollis, quam purus cursus orci, et auctor purus lorem niec velit. Nam rutrum nisl eu lacus euismod luctus. Nullam venenatis felis sit amet liberomuvumituv ullamcorper, in aliquam lectus aliquam. Quisque at viverra lorem, at tincidunt ipsum. Morbi commodo odio vel ornare accumsan. Mauris quis euismod augue.</span>
                        <span class="col-xs-12 testi-name">Metus blandit</span>
                        <span class="col-xs-12 testi-designation">Manager at Cado</span>
						<div class="col-xs-4 border-line"></div>
                     </div>
                  </div>
                  <div class="item row">
                     <div class="testi-wrap">
                        <span class="col-xs-12 testi-image"><span class="testi-circle"><img src="http://q2test.s3.amazonaws.com/image/theme/asset/testimonial-navy-blue-cras-molestie.jpg" width="220" height="146" alt=" cras_molestie" title=" cras_molestie" /></span></span>
                        <span class="col-xs-12 testi-body">RiieQuisque euismod, dolor eu porta luctus, ipsum nunc consectetur quam, non porttitor tortor tortori uisreget dolor. Ut imperdiet, purus in bibendum mollis, quam purus cursus orci, et auctor purus lorem niec velit. Nam rutrum nisl eu lacus euismod luctus. Nullam venenatis felis sit amet liberomuvumituv ullamcorper, in aliquam lectus aliquam. Quisque at viverra lorem, at tincidunt ipsum. Morbi commodo odio vel ornare accumsan. Mauris quis euismod augue.</span>
                        <span class="col-xs-12 testi-name">Cras molestie</span>
                        <span class="col-xs-12 testi-designation">HR at BBM Tech</span>
						<div class="col-xs-4 border-line"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>